[2020-04-19 19:15] Brend-Smits opened #3 "Target Audience subgroup: Fontys IT"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

Defining the **subgroup: Students**
https://docs.google.com/document/d/1Tk_UDII39lStYoOoeLYddvGtGnseVOnCa0ybcYFGEkw/edit#heading=h.od91z3gkdjx

[2020-04-19 19:15] Brend-Smits commented on #3
In GitLab by @Brend-Smits on Mar 4, 2020, 20:46

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/26-}** to **{+Target Audience subgroup: Fontys IT+}**

[2020-04-19 19:15] Brend-Smits commented on #3
In GitLab by @Brend-Smits on Mar 4, 2020, 20:46

changed the description

[2020-04-19 19:15] Brend-Smits commented on #3
In GitLab by @Brend-Smits on Mar 4, 2020, 20:46

assigned to @RensNooren

[2020-04-19 19:16] Brend-Smits commented on #3
In GitLab by @Brend-Smits on Mar 4, 2020, 20:53

changed due date to March 05, 2020

[2020-04-19 19:16] Brend-Smits commented on #3
In GitLab by @Brend-Smits on Mar 4, 2020, 21:02

closed

[2020-04-19 19:16] #3 closed

[2020-04-19 19:16] Brend-Smits opened #4 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/25"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

null

[2020-04-19 19:16] Brend-Smits commented on #4
In GitLab by @Brend-Smits on Mar 4, 2020, 21:02

closed

[2020-04-19 19:16] #4 closed

[2020-04-19 19:16] Brend-Smits opened #5 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/24"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

null

[2020-04-19 19:16] Brend-Smits commented on #5
In GitLab by @Brend-Smits on Mar 4, 2020, 21:02

closed

[2020-04-19 19:16] #5 closed

[2020-04-19 19:16] Brend-Smits opened #6 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/23"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

null

[2020-04-19 19:16] Brend-Smits commented on #6
In GitLab by @Brend-Smits on Mar 4, 2020, 21:02

closed

[2020-04-19 19:16] #6 closed

[2020-04-19 19:16] Brend-Smits opened #7 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/22"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

null

[2020-04-19 19:16] Brend-Smits commented on #7
In GitLab by @Brend-Smits on Mar 4, 2020, 21:02

closed

[2020-04-19 19:16] #7 closed

[2020-04-19 19:16] Brend-Smits opened #8 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/21"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

null

[2020-04-19 19:16] Brend-Smits commented on #8
In GitLab by @Brend-Smits on Mar 4, 2020, 21:02

closed

[2020-04-19 19:16] #8 closed

[2020-04-19 19:16] Brend-Smits opened #9 "Backend tech stack research"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

Probably should create a small article on why we decided to use .NET Core 3.1

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:16] Brend-Smits commented on #9
In GitLab by @Brend-Smits on Mar 5, 2020, 21:39

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/20-}** to **{+Backend tech stack research+}**

[2020-04-19 19:16] Brend-Smits commented on #9
In GitLab by @Brend-Smits on Mar 5, 2020, 21:39

changed the description

[2020-04-19 19:17] Brend-Smits commented on #9
In GitLab by @StijnGroenen on Mar 16, 2020, 12:41

assigned to @StijnGroenen

[2020-04-19 19:17] Brend-Smits commented on #9
In GitLab by @Brend-Smits on Mar 29, 2020, 20:21

changed the description

[2020-04-19 19:17] Brend-Smits opened #10 "Privacy document"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

Create a document that contains an advice concerning the privacy of the users of Digital Excellence

[2020-04-19 19:17] Brend-Smits commented on #10
In GitLab by @Brend-Smits on Mar 5, 2020, 21:40

assigned to @RensvdLinden

[2020-04-19 19:17] Brend-Smits commented on #10
In GitLab by @Brend-Smits on Mar 5, 2020, 21:40

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/19-}** to **{+Privacy document+}**

[2020-04-19 19:17] Brend-Smits commented on #10
In GitLab by @Brend-Smits on Mar 5, 2020, 21:40

changed the description

[2020-04-19 19:17] Brend-Smits commented on #10
In GitLab by @Brend-Smits on Mar 9, 2020, 10:19

changed due date to March 09, 2020

[2020-04-19 19:17] Brend-Smits commented on #10
In GitLab by @Brend-Smits on Mar 9, 2020, 10:19

assigned to @Brend-Smits and unassigned @RensvdLinden

[2020-04-19 19:17] Brend-Smits commented on #10
In GitLab by @Brend-Smits on Mar 9, 2020, 10:19

Will finish this today.

[2020-04-19 19:17] Brend-Smits commented on #10
In GitLab by @Brend-Smits on Mar 19, 2020, 17:23

closed

[2020-04-19 19:17] #10 closed

[2020-04-19 19:17] Brend-Smits opened #11 "Create issue templates"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

* Issue
* Bug
* Feature
* Merge request (with closes)

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:17] Brend-Smits commented on #11
In GitLab by @Brend-Smits on Mar 5, 2020, 21:41

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/18-}** to **{+Create issue templates+}**

[2020-04-19 19:17] Brend-Smits commented on #11
In GitLab by @Brend-Smits on Mar 5, 2020, 21:41

changed the description

[2020-04-19 19:17] Brend-Smits commented on #11
In GitLab by @Brend-Smits on Mar 5, 2020, 21:41

assigned to @Brend-Smits

[2020-04-19 19:17] Brend-Smits commented on #11
In GitLab by @Brend-Smits on Mar 9, 2020, 11:21

changed due date to March 09, 2020

[2020-04-19 19:17] Brend-Smits commented on #11
In GitLab by @Brend-Smits on Mar 29, 2020, 20:26

removed due date

[2020-04-19 19:17] Brend-Smits commented on #11
In GitLab by @Brend-Smits on Mar 29, 2020, 20:26

changed the description

[2020-04-19 19:17] Brend-Smits opened #12 "Setup plan / Analyse document"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

* Use cases
* User stories
* Functional and non-functional requirements (MoSCoW)
* Diagrams to support user stories
* Project description and definition

[2020-04-19 19:18] Brend-Smits commented on #12
In GitLab by @Brend-Smits on Mar 5, 2020, 21:41

assigned to @Brend-Smits

[2020-04-19 19:18] Brend-Smits commented on #12
In GitLab by @Brend-Smits on Mar 5, 2020, 21:42

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/17-}** to **{+Setup plan / Analyse document+}**

[2020-04-19 19:18] Brend-Smits commented on #12
In GitLab by @Brend-Smits on Mar 5, 2020, 21:42

changed the description

[2020-04-19 19:18] Brend-Smits commented on #12
In GitLab by @I380477 on Mar 16, 2020, 13:40

@Brend-Smits Where is this document located? Since I would like to contribute to it

[2020-04-19 19:18] Brend-Smits commented on #12
In GitLab by @Brend-Smits on Mar 29, 2020, 19:32

closed

[2020-04-19 19:18] #12 closed

[2020-04-19 19:18] Brend-Smits opened #13 "CRUD - Add project manually [REPLACEMENT ISSUE]"
The original issue

	Id: 11
	Title: CRUD - Add project manually

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-19 19:18] Brend-Smits commented on #13
In GitLab by @Brend-Smits on Mar 5, 2020, 21:43

assigned to @wotwot

[2020-04-19 19:18] Brend-Smits commented on #13
In GitLab by @Brend-Smits on Mar 5, 2020, 21:43

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/16-}** to **{+CRUD - Add project manually+}**

[2020-04-19 19:18] Brend-Smits commented on #13
In GitLab by @Brend-Smits on Mar 5, 2020, 21:43

changed the description

[2020-04-19 19:18] Brend-Smits commented on #13
In GitLab by @Brend-Smits on Mar 9, 2020, 22:37

changed the description

[2020-04-19 19:18] Brend-Smits commented on #13
In GitLab by @Brend-Smits on Mar 29, 2020, 19:32

closed

[2020-04-19 19:18] #13 closed

[2020-04-19 19:18] Brend-Smits opened #14 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/15"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

Sprint 0

[2020-04-19 19:18] Brend-Smits commented on #14
In GitLab by @Brend-Smits on Mar 4, 2020, 21:05

closed

[2020-04-19 19:18] #14 closed

[2020-04-19 19:18] Brend-Smits opened #15 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/14"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

Sprint 0

[2020-04-19 19:18] Brend-Smits commented on #15
In GitLab by @Brend-Smits on Mar 4, 2020, 21:05

closed

[2020-04-19 19:18] #15 closed

[2020-04-19 19:19] Brend-Smits opened #16 "Setup a base project [REPLACEMENT ISSUE]"
The original issue

	Id: 14
	Title: Setup a base project

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-19 19:19] Brend-Smits commented on #16
In GitLab by @Brend-Smits on Mar 4, 2020, 21:03

closed

[2020-04-19 19:19] Brend-Smits commented on #16
In GitLab by @Brend-Smits on Mar 4, 2020, 21:04

reopened

[2020-04-19 19:19] Brend-Smits commented on #16
In GitLab by @Brend-Smits on Mar 5, 2020, 21:45

assigned to @wotwot

[2020-04-19 19:19] Brend-Smits commented on #16
In GitLab by @Brend-Smits on Mar 5, 2020, 21:46

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/13-}** to **{+Setup a base project+}**

[2020-04-19 19:19] Brend-Smits commented on #16
In GitLab by @Brend-Smits on Mar 5, 2020, 21:46

changed the description

[2020-04-19 19:19] Brend-Smits commented on #16
In GitLab by @Brend-Smits on Mar 9, 2020, 11:21

closed

[2020-04-19 19:19] #16 closed

[2020-04-19 19:19] Brend-Smits opened #17 "Define architecture for backend"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

Define a scalable architecture.
Think broad, if we want to scale this. How are we going to do this with the architecture?
Will a micro-service architecture benefit us?

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @Brend-Smits on Mar 4, 2020, 21:03

closed

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @Brend-Smits on Mar 4, 2020, 21:04

reopened

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @Brend-Smits on Mar 5, 2020, 21:46

assigned to @jcoenen96

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @Brend-Smits on Mar 5, 2020, 21:47

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/12-}** to **{+Define architecture for backend+}**

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @Brend-Smits on Mar 5, 2020, 21:47

changed the description

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @jcoenen96 on Mar 9, 2020, 15:39

I added the C4 model to the wiki.
https://git.fhict.nl/dex/dex-backend/-/wikis/Software-Architecture/C4-Model

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @jcoenen96 on Mar 22, 2020, 16:19

Last week I also added the specifications of interfaces (https://git.fhict.nl/dex/dex-backend/-/wikis/Software-Architecture/Specification-of-interfaces) and persistence per component (https://git.fhict.nl/dex/dex-backend/-/wikis/Software-Architecture/Persistence-per-component) pages.

These pages also require review. After that this issue can be clos

[2020-04-19 19:19] Brend-Smits commented on #17
In GitLab by @jcoenen96 on Mar 23, 2020, 12:46

closed

[2020-04-19 19:19] #17 closed

[2020-04-19 19:19] Brend-Smits opened #18 "What hosting can be used?"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

The first release will probably be deployed to the Rancher system from FHICT. However, this might not be the best long term solution. Scalability might become an issue, as well as the issue that it's owned by FHICT and that the clusters might be cleaned periodically
Look into other hosting solutions like:
* Cloud hosting providers
* VPS rental
* Ded

[2020-04-19 19:19] Brend-Smits commented on #18
In GitLab by @Brend-Smits on Mar 5, 2020, 21:49

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/11-}** to **{+What hosting can be used?+}**

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @Brend-Smits on Mar 5, 2020, 21:49

changed the description

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @RensvdLinden on Mar 9, 2020, 08:50

assigned to @RensvdLinden

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @RensvdLinden on Mar 30, 2020, 11:25

closed

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @Brend-Smits on Apr 10, 2020, 11:15

reopened

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @Brend-Smits on Apr 10, 2020, 11:16

See: https://docs.google.com/document/d/1-UasWhxTVADF0VPBJO7W_-RvKlSLD-M4t-jaqxYoxi8/edit?usp=sharing

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @Brend-Smits on Apr 14, 2020, 15:54

assigned to @wilrikdeloose and unassigned @RensvdLinden

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @Brend-Smits on Apr 14, 2020, 15:54

changed due date to April 21, 2020

[2020-04-19 19:20] Brend-Smits commented on #18
In GitLab by @Brend-Smits on Apr 14, 2020, 15:55

@wilrikdeloose will follow up with DeX stakeholders and see if there's budget to host on Azure / OVH. He will get back to us by 21 April.

[2020-04-19 19:20] Brend-Smits opened #19 "Setup a project plan"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

The project plan includes but not limited to:
* Project Team
* Stakeholders
* Roles & Responsibilities
* Goals & Scope
* Current Situation
* Problem Description
* Project Goals
* Project Deliverables and Non-Deliverables
* Deliverables
* Non-Deliverables
* Resources and Cost
* Project Execution Plan
* Release Planning
* Timeline
* Product Backlog
*

[2020-04-19 19:20] Brend-Smits commented on #19
In GitLab by @Brend-Smits on Mar 5, 2020, 21:49

assigned to @Brend-Smits

[2020-04-19 19:20] Brend-Smits commented on #19
In GitLab by @Brend-Smits on Mar 5, 2020, 21:49

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/10-}** to **{+Setup a project plan+}**

[2020-04-19 19:20] Brend-Smits commented on #19
In GitLab by @Brend-Smits on Mar 5, 2020, 21:49

changed the description

[2020-04-19 19:20] Brend-Smits commented on #19
In GitLab by @Brend-Smits on Mar 9, 2020, 11:21

closed

[2020-04-19 19:20] #19 closed

[2020-04-19 19:20] Brend-Smits opened #20 "Setup Pipeline CI/CD"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

With DeX, the plan is to release every sprint. For this to work, we need to setup CI/CD from day one.
Using Gitlab CI/CD services we can easily do this. Deployment is taking place in Rancher for now.

[2020-04-19 19:20] Brend-Smits commented on #20
In GitLab by @Brend-Smits on Mar 5, 2020, 21:50

assigned to @RensvdLinden

[2020-04-19 19:20] Brend-Smits commented on #20
In GitLab by @Brend-Smits on Mar 5, 2020, 21:50

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/9-}** to **{+Setup Pipeline CI/CD+}**

[2020-04-19 19:20] Brend-Smits commented on #20
In GitLab by @Brend-Smits on Mar 5, 2020, 21:50

changed the description

[2020-04-19 19:20] Brend-Smits commented on #20
In GitLab by @Brend-Smits on Mar 29, 2020, 19:35

closed

[2020-04-19 19:20] #20 closed

[2020-04-19 19:21] Brend-Smits opened #21 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/8"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

Sprint 0

[2020-04-19 19:21] Brend-Smits commented on #21
In GitLab by @Brend-Smits on Mar 9, 2020, 11:33

closed

[2020-04-19 19:21] #21 closed

[2020-04-19 19:21] Brend-Smits opened #22 "How can we facilitate the infrastructure?"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

* What hosting should be used? #16
* How can we assure that it's easily maintainable for future groups?
* How can we assure that governance can easily 'sell' the platform to internal IT from Fontys?
* How can we easily scale the platform? #25
* Set up a pipeline and release every sprint #18

[2020-04-19 19:21] Brend-Smits commented on #22
In GitLab by @Brend-Smits on Mar 5, 2020, 21:52

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/7-}** to **{+How can we facilitate the infrastructure?+}**

[2020-04-19 19:21] Brend-Smits commented on #22
In GitLab by @Brend-Smits on Mar 5, 2020, 21:52

changed the description

[2020-04-19 19:21] Brend-Smits commented on #22
In GitLab by @Brend-Smits on Mar 24, 2020, 14:34

moved to dex-epics#8

[2020-04-19 19:21] #22 closed

[2020-04-19 19:21] Brend-Smits opened #23 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/6"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

null

[2020-04-19 19:21] Brend-Smits commented on #23
In GitLab by @Brend-Smits on Mar 5, 2020, 21:53

closed

[2020-04-19 19:21] #23 closed

[2020-04-19 19:21] Brend-Smits opened #24 "What governance is required?"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

* Investigate what governance is required to get this project off the ground
* What data can we legally gather and use from our own platforms?
* What data can we legally gather and use from external platforms like Github?
* What methods of gathering data are okay to use? Web scraping, API's, etc.

[2020-04-19 19:21] Brend-Smits commented on #24
In GitLab by @Brend-Smits on Mar 5, 2020, 21:56

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/5-}** to **{+What governance is required?+}**

[2020-04-19 19:21] Brend-Smits commented on #24
In GitLab by @Brend-Smits on Mar 5, 2020, 21:56

changed the description

[2020-04-19 19:21] Brend-Smits commented on #24
In GitLab by @Brend-Smits on Mar 24, 2020, 14:34

moved to dex-epics#9

[2020-04-19 19:21] #24 closed

[2020-04-19 19:21] Brend-Smits opened #25 "Proof-of-concept Platform with Gitlab"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

* How can we gather data from Gitlab?
* What data can we gather from Gitlab?
* Implement a user interface that is easily expandable and that is easy to use
* Implement a backend that follows SOLID principles where applicable
* Comply with legal entities / GDPR

Wilrik comments:
Loose,Wilrik W.R. De @wilrikdeloose · 2 weeks ago
Maintainer
We'll start

[2020-04-19 19:21] Brend-Smits commented on #25
In GitLab by @Brend-Smits on Mar 5, 2020, 21:58

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/4-}** to **{+Proof-of-concept Platform with Gitlab+}**

[2020-04-19 19:21] Brend-Smits commented on #25
In GitLab by @Brend-Smits on Mar 5, 2020, 21:58

changed the description

[2020-04-19 19:21] Brend-Smits commented on #25
In GitLab by @RamonPeek on Mar 23, 2020, 15:35

assigned to @RamonPeek

[2020-04-19 19:22] Brend-Smits commented on #25
In GitLab by @Brend-Smits on Mar 24, 2020, 14:30

moved to dex-epics#6

[2020-04-19 19:22] #25 closed

[2020-04-19 19:22] Brend-Smits opened #26 "https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/3"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

null

[2020-04-19 19:22] Brend-Smits commented on #26
In GitLab by @Brend-Smits on Mar 4, 2020, 21:06

closed

[2020-04-19 19:22] #26 closed

[2020-04-19 19:22] Brend-Smits opened #27 "What architecture should be used?"
In GitLab by @Brend-Smits on Mar 4, 2020, 20:36

* What architecture should be used for the backend? #15
* Should we make use of microservices, if so, how? #15
* Will there be containerization? #16
* How do we make sure that future additions to the platforms can be easily added and maintained? (Add a new platform like Github as a source for DeX to get data from)

[2020-04-19 19:22] Brend-Smits commented on #27
In GitLab by @Brend-Smits on Mar 4, 2020, 21:10

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/2-}** to **{+What architecture should be used?+}**

[2020-04-19 19:22] Brend-Smits commented on #27
In GitLab by @Brend-Smits on Mar 4, 2020, 21:10

changed the description

[2020-04-19 19:22] Brend-Smits commented on #27
In GitLab by @Brend-Smits on Mar 24, 2020, 14:32

moved to dex-epics#7

[2020-04-19 19:22] #27 closed

[2020-04-19 19:22] Brend-Smits opened #28 "What Tech-stack should be used? [REPLACEMENT ISSUE]"
The original issue

	Id: 26
	Title: What Tech-stack should be used?

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-19 19:22] Brend-Smits commented on #28
In GitLab by @Brend-Smits on Mar 4, 2020, 21:08

changed title from **{-https://git.fhict.nl/delta-projecten/Digital-Excellence/issues/1-}** to **{+What Tech-stack should be used?+}**

[2020-04-19 19:22] Brend-Smits commented on #28
In GitLab by @Brend-Smits on Mar 4, 2020, 21:08

changed the description

[2020-04-19 19:22] Brend-Smits commented on #28
In GitLab by @Brend-Smits on Mar 4, 2020, 21:08

closed

[2020-04-19 19:22] Brend-Smits commented on #28
In GitLab by @wotwot on Mar 5, 2020, 21:00

assigned to @wotwot

[2020-04-19 19:22] #28 closed

[2020-04-19 19:22] Brend-Smits opened #29 "Search and Recommendation algorithm"
In GitLab by @Brend-Smits on Mar 9, 2020, 13:04

* Highlight projects on frontpage
* Search feature
* Search recommendation

[2020-04-19 19:22] Brend-Smits commented on #29
In GitLab by @Brend-Smits on Mar 24, 2020, 14:28

moved to dex-epics#3

[2020-04-19 19:22] #29 closed

[2020-04-19 19:23] Brend-Smits opened #30 "Project highlighting"
In GitLab by @Brend-Smits on Mar 9, 2020, 13:08

* Personal projects
* Platform wide projects
* Follow user/projects
* Implement with notification
* How should we implement this?

[2020-04-19 19:23] Brend-Smits commented on #30
In GitLab by @RensvdLinden on Mar 18, 2020, 13:50

assigned to @RensvdLinden

[2020-04-19 19:23] Brend-Smits commented on #30
In GitLab by @Brend-Smits on Mar 24, 2020, 14:28

moved to dex-epics#2

[2020-04-19 19:23] #30 closed

[2020-04-19 19:23] Brend-Smits opened #31 "Notification system"
In GitLab by @Brend-Smits on Mar 9, 2020, 13:20

* Brainstorm and setup requirements
* Notified if a person that I follow does something
* Notified for 'hot/trending/ item
* Research, how should we notify the user? Email, in dashboard
* Notification feed
* Research, should users get an email with weekly hot items for example?

[2020-04-19 19:23] Brend-Smits commented on #31
In GitLab by @Brend-Smits on Mar 24, 2020, 14:30

moved to dex-epics#5

[2020-04-19 19:23] #31 closed

[2020-04-19 19:23] Brend-Smits opened #32 "Filter & Sorting system"
In GitLab by @Brend-Smits on Mar 9, 2020, 13:23

* How are we going to tackle this? Research is required to define sub-issues
* Are there going to be categories?
* Tags? Auto-tagging?

[2020-04-19 19:23] Brend-Smits commented on #32
In GitLab by @Brend-Smits on Mar 9, 2020, 13:23

changed title from **Filter system** to **Filter {+& Sorting +}system**

[2020-04-19 19:23] Brend-Smits commented on #32
In GitLab by @Brend-Smits on Mar 24, 2020, 14:28

moved to dex-epics#1

[2020-04-19 19:23] #32 closed

[2020-04-19 19:23] Brend-Smits opened #33 "Gitlab source manager"
In GitLab by @Brend-Smits on Mar 9, 2020, 21:29

* Based on the research #32, use the Gitlab API to retrieve the internal projects.
* Handle authentication to the FHICT Gitlab server, use the token retrieved from this flow to call the API

When developing this source, we should also check with rate limits, scalability, and performance.

[2020-04-19 19:23] Brend-Smits commented on #33
In GitLab by @Brend-Smits on Mar 9, 2020, 22:53

changed the description

[2020-04-19 19:23] Brend-Smits commented on #33
In GitLab by @Brend-Smits on Mar 9, 2020, 22:53

Blocked by #32

[2020-04-19 19:23] Brend-Smits commented on #33
In GitLab by @JVerbruggen on Mar 18, 2020, 11:21

assigned to @JVerbruggen

[2020-04-19 19:23] Brend-Smits commented on #33
In GitLab by @JVerbruggen on Mar 30, 2020, 16:44

mentioned in merge request !15

[2020-04-19 19:23] Brend-Smits opened #34 "Research what we are able to retrieve via the Gitlab API"
In GitLab by @Brend-Smits on Mar 9, 2020, 21:31

Related to #31 , we want to know what data we can retrieve from the Gitlab. What can we search on?

Review on: https://git.fhict.nl/dex/dex-backend/-/wikis/External-Sources/Research-GitHub-and-GitLab

[2020-04-19 19:23] Brend-Smits commented on #34
In GitLab by @JVerbruggen on Mar 10, 2020, 14:25

assigned to @JVerbruggen

[2020-04-19 19:23] Brend-Smits commented on #34
In GitLab by @RamonPeek on Mar 10, 2020, 14:25

assigned to @RamonPeek and unassigned @JVerbruggen

[2020-04-19 19:23] Brend-Smits commented on #34
In GitLab by @JVerbruggen on Mar 10, 2020, 14:28

assigned to @JVerbruggen and unassigned @RamonPeek

[2020-04-19 19:24] Brend-Smits commented on #34
In GitLab by @JVerbruggen on Mar 10, 2020, 14:28

assigned to @RamonPeek and unassigned @JVerbruggen

[2020-04-19 19:24] Brend-Smits commented on #34
In GitLab by @JVerbruggen on Mar 16, 2020, 12:54

changed the description

[2020-04-19 19:24] Brend-Smits commented on #34
In GitLab by @Brend-Smits on Mar 29, 2020, 19:32

closed

[2020-04-19 19:24] #34 closed

[2020-04-19 19:24] Brend-Smits opened #35 "Define interface for Search"
In GitLab by @Brend-Smits on Mar 9, 2020, 21:42

Create an interface together with at least a single 'senior' developer that can be used to create the search controller, service and manager.

[2020-04-19 19:24] Brend-Smits commented on #35
In GitLab by @StijnGroenen on Mar 16, 2020, 13:09

assigned to @StijnGroenen

[2020-04-19 19:24] Brend-Smits commented on #35
In GitLab by @StijnGroenen on Mar 23, 2020, 12:34

Hier te vinden: [Search wiki](https://git.fhict.nl/dex/dex-backend/-/wikis/Software-Architecture/Search-specification)

[2020-04-19 19:24] Brend-Smits commented on #35
In GitLab by @wotwot on Mar 23, 2020, 14:26

closed

[2020-04-19 19:24] #35 closed

[2020-04-19 19:24] Brend-Smits opened #36 "Search API Controller"
In GitLab by @Brend-Smits on Mar 9, 2020, 21:44

Blocked, #33 should be finished before starting this.

* Create the search controller based on #33
Ensure that proper error handling is used and that the endpoints are following REST Standard as much as possible

[2020-04-19 19:24] Brend-Smits commented on #36
In GitLab by @Brend-Smits on Mar 9, 2020, 21:48

changed title from **Search Controller** to **Search {+API +}Controller**

[2020-04-19 19:24] Brend-Smits commented on #36
In GitLab by @jcoenen96 on Mar 26, 2020, 11:03

assigned to @jcoenen96

[2020-04-19 19:24] Brend-Smits commented on #36
In GitLab by @jcoenen96 on Mar 27, 2020, 11:58

mentioned in merge request !11

[2020-04-19 19:24] Brend-Smits commented on #36
In GitLab by @Brend-Smits on Mar 29, 2020, 19:32

closed

[2020-04-19 19:24] #36 closed

[2020-04-19 19:24] Brend-Smits opened #37 "Search Service"
In GitLab by @Brend-Smits on Mar 9, 2020, 21:46

Blocked, #33 should be finished before starting this.

* Create a search service based on #33
* Define and create unit tests

[2020-04-19 19:24] Brend-Smits commented on #37
In GitLab by @Brend-Smits on Mar 9, 2020, 22:39

changed the description

[2020-04-19 19:24] Brend-Smits commented on #37
In GitLab by @Brend-Smits on Mar 9, 2020, 22:41

changed the description

[2020-04-19 19:24] Brend-Smits commented on #37
In GitLab by @jcoenen96 on Mar 23, 2020, 15:46

assigned to @jcoenen96

[2020-04-19 19:25] Brend-Smits commented on #37
In GitLab by @jcoenen96 on Mar 27, 2020, 11:58

mentioned in merge request !11

[2020-04-19 19:25] Brend-Smits commented on #37
In GitLab by @jcoenen96 on Mar 27, 2020, 12:21

Search service is created.
Unit tests are not (yet).

[2020-04-19 19:25] Brend-Smits commented on #37
In GitLab by @Brend-Smits on Mar 29, 2020, 19:32

closed

[2020-04-19 19:25] #37 closed

[2020-04-19 19:25] Brend-Smits opened #38 "Basic search functionality"
In GitLab by @Brend-Smits on Mar 9, 2020, 22:35

Implement a basic search functionality so that we can search for projects and implement a search bar on the frontend.
Try to keep the feature expandable so we can easily replace or expand it in the future when implementing more complex search functionality/algorithms (#27)

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @Brend-Smits on Mar 9, 2020, 22:35

assigned to @Brend-Smits

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @Brend-Smits on Mar 16, 2020, 11:16

unassigned @Brend-Smits

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @RensvdLinden on Mar 18, 2020, 13:50

assigned to @RensvdLinden

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @RensvdLinden on Mar 18, 2020, 13:51

unassigned @RensvdLinden

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @RamonPeek on Mar 23, 2020, 11:20

assigned to @RamonPeek

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @RamonPeek on Mar 23, 2020, 15:35

unassigned @RamonPeek

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @jcoenen96 on Mar 26, 2020, 11:04

assigned to @jcoenen96

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @jcoenen96 on Mar 27, 2020, 11:58

mentioned in merge request !11

[2020-04-19 19:25] Brend-Smits commented on #38
In GitLab by @Brend-Smits on Mar 29, 2020, 19:32

closed

[2020-04-19 19:25] #38 closed

[2020-04-19 19:25] Brend-Smits opened #39 "Create Models"
In GitLab by @Brend-Smits on Mar 9, 2020, 22:38

* Define Models
* Implement Models

[2020-04-19 19:25] Brend-Smits commented on #39
In GitLab by @jcoenen96 on Mar 22, 2020, 22:18

assigned to @jcoenen96

[2020-04-19 19:25] Brend-Smits commented on #39
In GitLab by @jcoenen96 on Mar 23, 2020, 16:03

mentioned in merge request !6

[2020-04-19 19:25] Brend-Smits commented on #39
In GitLab by @jcoenen96 on Mar 26, 2020, 17:18

closed

[2020-04-19 19:25] #39 closed

[2020-04-19 19:26] Brend-Smits opened #40 "Postman API Integration tests"
In GitLab by @Brend-Smits on Mar 9, 2020, 22:45

Monitoring the API from day one will save us a ton of time in the long run. We can do this using [Postman tests](https://learning.postman.com/docs/postman/scripts/test-scripts/).
These tests will run in the pipeline.

* Define and Create postman integration tests for every endpoint.
* Test the latency
* Test the response
* Test the status code

Rela

[2020-04-19 19:26] Brend-Smits commented on #40
In GitLab by @Brend-Smits on Mar 9, 2020, 22:46

All controllers need these tests:
* User Controller
* Project Controller
* Search Controller

[2020-04-19 19:26] Brend-Smits commented on #40
In GitLab by @Brend-Smits on Mar 29, 2020, 20:18

changed the description

[2020-04-19 19:26] Brend-Smits opened #41 "Identity Server 4"
In GitLab by @Brend-Smits on Mar 9, 2020, 22:58

* Define and implement an identity server using [Identity Server 4 ](https://identityserver4.readthedocs.io/en/latest/)
* Contact @wilrikdeloose and have him request FHICT OAuth credentials using [this link](https://api.fhict.nl/Documentation/RequestAccess). Provide Wilrik with the needed information (see screenshot)
* Implement FHICT OAuth flow and

[2020-04-19 19:26] Brend-Smits commented on #41
In GitLab by @Brend-Smits on Mar 11, 2020, 10:28

assigned to @Brend-Smits

[2020-04-19 19:26] Brend-Smits commented on #41
In GitLab by @Brend-Smits on Mar 26, 2020, 00:28

mentioned in merge request !7

[2020-04-19 19:26] Brend-Smits commented on #41
In GitLab by @Brend-Smits on Mar 27, 2020, 12:08

mentioned in commit 42939fef1db6e88afe769f66bbac75d3e8966227

[2020-04-19 19:26] Brend-Smits commented on #41
In GitLab by @Brend-Smits on Mar 27, 2020, 12:08

closed via merge request !7

[2020-04-19 19:26] #41 closed

[2020-04-19 19:26] Brend-Smits opened #42 "Check with II&A for Azure"
In GitLab by @Brend-Smits on Mar 9, 2020, 23:02

@wilrikdeloose needs to check with II&A about Azure

[2020-04-19 19:26] Brend-Smits commented on #42
In GitLab by @Brend-Smits on Apr 19, 2020, 11:01

closed

[2020-04-19 19:26] #42 closed

[2020-04-19 19:26] Brend-Smits opened #43 "SURFContext OAuth [REPLACEMENT ISSUE]"
The original issue

	Id: 41
	Title: SURFContext OAuth

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-04-19 19:26] Brend-Smits commented on #43
In GitLab by @miekassu on Mar 10, 2020, 06:51

changed the description

[2020-04-19 19:26] Brend-Smits commented on #43
In GitLab by @miekassu on Mar 10, 2020, 06:53

Following email send to Jan Oonks on Monday 9th

[code]

Next actions will be taken after getting some reply.

[2020-04-19 19:26] Brend-Smits commented on #43
In GitLab by @Brend-Smits on Mar 24, 2020, 14:30

moved to dex-epics#4

[2020-04-19 19:26] #43 closed

[2020-04-19 19:26] Brend-Smits opened #44 "Digital Excellence description"
In GitLab by @Brend-Smits on Mar 10, 2020, 10:04

Write a description that describes DeX and that shows the benefits of DeX platform, explaining why it's not just a glorified GIT Search. Max half A4

[2020-04-19 19:26] Brend-Smits commented on #44
In GitLab by @Brend-Smits on Mar 10, 2020, 10:04

changed due date to March 13, 2020

[2020-04-19 19:27] Brend-Smits commented on #44
In GitLab by @Brend-Smits on Mar 10, 2020, 10:04

changed the description

[2020-04-19 19:27] Brend-Smits commented on #44
In GitLab by @wilrikdeloose on Mar 12, 2020, 09:05

Hmm, it's definitely not half an A4, max, but I think it covers nicely what it is more then GitLab and other solutions. I've put it on the drive: https://drive.google.com/open?id=1yhoDG6xydNblj_YoNwQ43xhzo9glsatI-GGRv986PXE. @Brend-Smits @miekassu Perhaps you can take a look at it?

[2020-04-19 19:27] Brend-Smits commented on #44
In GitLab by @Brend-Smits on Mar 12, 2020, 10:49

I like it, nice work. @RensNooren what do you think of this? Could this help you with branding? Are you missing anything?

[2020-04-19 19:27] Brend-Smits commented on #44
In GitLab by @Brend-Smits on Mar 16, 2020, 11:15

closed

[2020-04-19 19:27] #44 closed

[2020-04-19 19:27] Brend-Smits opened #45 "Research what we are able to retrieve via the GitHub API"
In GitLab by @JVerbruggen on Mar 10, 2020, 14:27

Related to #31, we want to know what data we can retrieve from the GitHub, next to GitLab. What can we search on?

Review on: https://git.fhict.nl/dex/dex-backend/-/wikis/External-Sources/Research-GitHub-and-GitLab

[2020-04-19 19:27] Brend-Smits commented on #45
In GitLab by @JVerbruggen on Mar 10, 2020, 14:28

assigned to @JVerbruggen

[2020-04-19 19:27] Brend-Smits commented on #45
In GitLab by @JVerbruggen on Mar 10, 2020, 14:29

changed the description

[2020-04-19 19:27] Brend-Smits commented on #45
In GitLab by @JVerbruggen on Mar 16, 2020, 12:54

changed the description

[2020-04-19 19:27] Brend-Smits commented on #45
In GitLab by @Brend-Smits on Mar 29, 2020, 19:32

closed

[2020-04-19 19:27] #45 closed

[2020-04-19 19:27] Brend-Smits opened #46 "How can we provide value/data for the Delta site?"
In GitLab by @MaxKorlaar on Mar 10, 2020, 17:03

As there's a portfolio section on the Delta site showcasing all Delta projects, it would be interesting to be able to manage these projects from within DeX. This would hopefully make it easier for Deltas to update their own portfolio as well as the public one on https://deltafhict.nl at the same time.

[2020-04-19 19:27] Brend-Smits commented on #46
In GitLab by @MaxKorlaar on Mar 10, 2020, 17:04

changed the description

[2020-04-19 19:27] Brend-Smits commented on #46
In GitLab by @MaxKorlaar on Mar 10, 2020, 17:05

@Brend-Smits I'll let you manage the labels/details etc on this issue

[2020-04-19 19:27] Brend-Smits commented on #46
In GitLab by @Brend-Smits on Mar 12, 2020, 10:53

I like this idea, however, collaboration on most Delta projects is not possible because it's limited to Delta members. How would sharing it on the platform benefit others/us?

[2020-04-19 19:27] Brend-Smits commented on #46
In GitLab by @MaxKorlaar on Mar 12, 2020, 13:48

I see where you're coming from, maybe this question should be reversed: How can we enable users on the platform to use their own data (and possibly shared data) to create new unique experiences?

In other words, perhaps an API so that the Delta site for example could fetch information about specific projects.

[2020-04-19 19:27] Brend-Smits opened #47 "Research: Database technology"
In GitLab by @StijnGroenen  on Mar 16, 2020, 13:21

Research the most appropriate database technology to use with Digital Excellence. This can be one single database or a combination of multiple different databases.

Examples:
*  SQL (MySQL, MSSQL, etc.)
*  NoSQL (Mongo, etc.)
*  GraphDB (Neo4J, etc.)

Do we need caching? (Redux, etc.)

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:27] Brend-Smits commented on #47
In GitLab by @Brend-Smits on Mar 29, 2020, 20:17

changed the description

[2020-04-19 19:27] Brend-Smits commented on #47
In GitLab by @jcoenen96 on Apr 5, 2020, 21:16

assigned to @jcoenen96

[2020-04-19 19:28] Brend-Smits opened #48 "Wiki: How to setup local development"
In GitLab by @Brend-Smits on Mar 26, 2020, 11:06

* How do developers get started and set up for local development?
* Note that you should not only focus on Visual studio, but also keep it broad so people can use whatever IDE on whatever operating system they like.

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:28] Brend-Smits commented on #48
In GitLab by @Brend-Smits on Mar 29, 2020, 20:19

changed the description

[2020-04-19 19:28] Brend-Smits commented on #48
In GitLab by @RensvdLinden on Mar 30, 2020, 11:25

assigned to @RensvdLinden

[2020-04-19 19:28] Brend-Smits opened #49 "Seed database for demo"
In GitLab by @Brend-Smits on Mar 26, 2020, 11:40

Seed database with projects for demo

[2020-04-19 19:28] Brend-Smits commented on #49
In GitLab by @Brend-Smits on Mar 26, 2020, 17:18

closed

[2020-04-19 19:28] #49 closed

[2020-04-19 19:28] Brend-Smits opened #50 "Research: Query Language"
In GitLab by @Brend-Smits on Mar 26, 2020, 17:20

Should we use REST or GraphQL? GraphQL might be good for our usecase.

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:28] Brend-Smits commented on #50
In GitLab by @Brend-Smits on Mar 29, 2020, 20:17

changed the description

[2020-04-19 19:28] Brend-Smits commented on #50
In GitLab by @I380477 on Apr 5, 2020, 19:46

assigned to @I380477

[2020-04-19 19:28] Brend-Smits opened #51 "Endpoint for all projects"
In GitLab by @Brend-Smits on Mar 26, 2020, 17:23

We need an endpoint for all projects

[2020-04-19 19:28] Brend-Smits commented on #51
In GitLab by @Brend-Smits on Mar 26, 2020, 17:34

mentioned in merge request !10

[2020-04-19 19:28] Brend-Smits commented on #51
In GitLab by @Brend-Smits on Mar 26, 2020, 17:34

closed via merge request !10

[2020-04-19 19:28] Brend-Smits commented on #51
In GitLab by @Brend-Smits on Mar 26, 2020, 17:34

mentioned in commit 882b728c20aed9eeceb7b802d6d3d992c39a60f0

[2020-04-19 19:28] #51 closed

[2020-04-19 19:28] Brend-Smits opened #52 "Define coding guidelines"
In GitLab by @Brend-Smits on Mar 27, 2020, 12:34

We need to define coding guidelines:
- Commenting
- Readability of code (one-liners if statements)
- Method Naming

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:28] Brend-Smits commented on #52
In GitLab by @Brend-Smits on Mar 27, 2020, 12:34

changed due date to March 30, 2020

[2020-04-19 19:28] Brend-Smits commented on #52
In GitLab by @jcoenen96 on Mar 27, 2020, 12:43

We can use the free ReSharper command line tools to add linting to our project.
https://www.jetbrains.com/resharper/features/command-line.html
Maybe we can even enforce our settings using the pipeline.

[2020-04-19 19:28] Brend-Smits commented on #52
In GitLab by @jcoenen96 on Mar 27, 2020, 12:43

assigned to @jcoenen96

[2020-04-19 19:28] Brend-Smits commented on #52
In GitLab by @jcoenen96 on Mar 27, 2020, 12:43

unassigned @jcoenen96

[2020-04-19 19:28] Brend-Smits commented on #52
In GitLab by @jcoenen96 on Mar 27, 2020, 15:51

mentioned in merge request !11

[2020-04-19 19:29] Brend-Smits commented on #52
In GitLab by @Brend-Smits on Mar 29, 2020, 20:19

changed the description

[2020-04-19 19:29] Brend-Smits commented on #52
In GitLab by @Brend-Smits on Mar 30, 2020, 13:50

Follow the following convention. There are a few exceptions: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions
Comments:
* Auto generate via visual studio (triple slash (/)), make sure parameters and return are added. Description should also be added. See: https://docs.google.com/document/d/1Tk_UDI

[2020-04-19 19:29] Brend-Smits commented on #52
In GitLab by @Brend-Smits on Mar 30, 2020, 13:50

closed

[2020-04-19 19:29] Brend-Smits commented on #52
In GitLab by @Brend-Smits on Apr 15, 2020, 11:08

Private and Readonly fields should start with an underscore _

[2020-04-19 19:29] #52 closed

[2020-04-19 19:29] Brend-Smits opened #53 "Investigate saving the database with EF Core"
In GitLab by @StijnGroenen on Mar 28, 2020, 20:47

Currently the database is saved by calling .Save onto a services. This service is calling the repository and the repository calls DbContext.SaveChangesAsync(). Doing it this way, only the object add/updated/removed by that services is saved instead of all objects.

If you would call DbContext.SaveChangesAsync() in the controller you would save all

[2020-04-19 19:29] Brend-Smits commented on #53
In GitLab by @Brend-Smits on Mar 28, 2020, 20:51

mentioned in merge request !12

[2020-04-19 19:29] Brend-Smits commented on #53
In GitLab by @Brend-Smits on Mar 29, 2020, 20:17

changed the description

[2020-04-19 19:29] Brend-Smits commented on #53
In GitLab by @RensvdLinden on Mar 30, 2020, 11:27

assigned to @RensvdLinden

[2020-04-19 19:29] Brend-Smits opened #54 "Add role for people that are allowed to add/remove highlighted projects"
In GitLab by @Brend-Smits on Mar 29, 2020, 12:41

There should be a role for users that can mark/unmark a project as highlighted. Highlighted projects show in a card overview on the home page of the platform.
See https://git.fhict.nl/dex/dex-epics/-/issues/2 for more information

Aside from this, we need a way to assign this role to users, how will we do this?  Do we need an admin panel for this?

[2020-04-19 19:29] Brend-Smits commented on #54
In GitLab by @Brend-Smits on Apr 14, 2020, 10:08

assigned to @Brend-Smits

[2020-04-19 19:29] Brend-Smits commented on #54
In GitLab by @Brend-Smits on Apr 19, 2020, 11:38

mentioned in merge request !22

[2020-04-19 19:29] Brend-Smits commented on #54
In GitLab by @jcoenen96 on Apr 19, 2020, 15:36

closed via merge request !22

[2020-04-19 19:29] Brend-Smits commented on #54
In GitLab by @jcoenen96 on Apr 19, 2020, 15:36

mentioned in commit 697c6841cb08de5add4b9bee79949580801e50e3

[2020-04-19 19:29] #54 closed

[2020-04-19 19:29] Brend-Smits opened #55 "Endpoint to retrieve only highlighted projects"
In GitLab by @Brend-Smits on Mar 29, 2020, 12:44

Create an endpoint that returns only the highlighted projects

[2020-04-19 19:29] Brend-Smits commented on #55
In GitLab by @RensvdLinden on Mar 30, 2020, 11:26

assigned to @RensvdLinden

[2020-04-19 19:29] Brend-Smits commented on #55
In GitLab by @RensvdLinden on Apr 11, 2020, 13:14

unassigned @RensvdLinden

[2020-04-19 19:29] Brend-Smits commented on #55
In GitLab by @Brend-Smits on Apr 15, 2020, 11:00

assigned to @Brend-Smits

[2020-04-19 19:30] Brend-Smits commented on #55
In GitLab by @Brend-Smits on Apr 19, 2020, 11:38

mentioned in merge request !22

[2020-04-19 19:30] Brend-Smits commented on #55
In GitLab by @jcoenen96 on Apr 19, 2020, 15:36

mentioned in commit 697c6841cb08de5add4b9bee79949580801e50e3

[2020-04-19 19:30] Brend-Smits commented on #55
In GitLab by @jcoenen96 on Apr 19, 2020, 15:36

closed via merge request !22

[2020-04-19 19:30] #55 closed

[2020-04-19 19:30] Brend-Smits opened #56 "Projects should have an embed button that generates an iframe"
In GitLab by @Brend-Smits on Mar 29, 2020, 12:54

There needs to be an embed button that generates an iframe. This allows for Fontys or other websites to easily share projects and link them on their website on for example an Open Day.
This also requires some more discussion with @wilrikdeloose , what should we do with non-public projects? Should they not be embeddable? Or only by users with a part

[2020-04-19 19:30] Brend-Smits opened #57 "Filter projects"
In GitLab by @Brend-Smits on Mar 29, 2020, 13:01

As a user, I want to be able to filter projects on things like Source, Collaborators
Are there other filters that you can think off that might be relevant?
This issue does require discussion with the rest of the group to see how we can best tackle this technically.

Related to Epic: https://git.fhict.nl/dex/dex-epics/-/issues/1

[2020-04-19 19:30] Brend-Smits commented on #57
In GitLab by @Brend-Smits on Apr 8, 2020, 16:35

@jcoenen96 would you like to take on this issue? Since you already implemented pagination and had ideas on how to tackle this on the backend?

[2020-04-19 19:30] Brend-Smits commented on #57
In GitLab by @jcoenen96 on Apr 19, 2020, 14:31

assigned to @jcoenen96

[2020-04-19 19:30] Brend-Smits opened #58 "Research: How can we tag and categorize projects?"
In GitLab by @Brend-Smits on Mar 29, 2020, 18:10

We need to research what are good ways to 'tag' and (automatically?) categorize projects.
Definition of 'tag': *a label attached to someone or something for the purpose of identification or to give other information.*
Possible tags could be: C#, Java, Psychology, Math, Database

The second part of this research will be regarding categories, we need

[2020-04-19 19:30] Brend-Smits commented on #58
In GitLab by @Brend-Smits on Mar 29, 2020, 18:15

changed the description

[2020-04-19 19:30] Brend-Smits commented on #58
In GitLab by @Brend-Smits on Mar 29, 2020, 18:16

changed the description

[2020-04-19 19:30] Brend-Smits commented on #58
In GitLab by @Brend-Smits on Apr 17, 2020, 18:28

mentioned in merge request dex-frontend!19

[2020-04-19 19:30] Brend-Smits opened #59 "Sort projects"
In GitLab by @Brend-Smits on Mar 29, 2020, 18:14

Users will want to be able to sort projects:
* Sort on Date (asc or desc)
* Name of project (asc or desc)
* Other ways to sort?

Ensure to discuss with other project members to see how to implement this. Should be very similar to #55
Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/1

[2020-04-19 19:30] Brend-Smits commented on #59
In GitLab by @Brend-Smits on Mar 29, 2020, 18:14

changed the description

[2020-04-19 19:30] Brend-Smits commented on #59
In GitLab by @Brend-Smits on Apr 8, 2020, 16:35

@jcoenen96 would you like to take on this issue? Since you already implemented pagination and had ideas on how to tackle this on the backend?

[2020-04-19 19:30] Brend-Smits commented on #59
In GitLab by @jcoenen96 on Apr 14, 2020, 10:33

assigned to @jcoenen96

[2020-04-19 19:30] Brend-Smits commented on #59
In GitLab by @jcoenen96 on Apr 16, 2020, 17:13

created merge request !20 to address this issue

[2020-04-19 19:30] Brend-Smits commented on #59
In GitLab by @jcoenen96 on Apr 16, 2020, 17:13

mentioned in merge request !20

[2020-04-19 19:30] Brend-Smits commented on #59
In GitLab by @jcoenen96 on Apr 16, 2020, 17:16

mentioned in merge request !21

[2020-04-19 19:30] Brend-Smits commented on #59
In GitLab by @Brend-Smits on Apr 19, 2020, 20:27

closed

[2020-04-19 19:31] #59 closed

[2020-04-19 19:31] Brend-Smits opened #60 "Automate deployment"
In GitLab by @Brend-Smits on Mar 29, 2020, 19:36

When pushing to Master / Develop it should automatically deploy to the designated areas.

[2020-04-19 19:31] Brend-Smits opened #61 "Research: Data gathering for top search results or recommendations (page views, likes, forks, etc)"
In GitLab by @Brend-Smits on Mar 29, 2020, 19:52

What ways are applicable to show interesting projects from the community on top of the search results or recommendations (page views, likes, forks, contributions as an example)
How do we gather this data?

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/3

[2020-04-19 19:31] Brend-Smits commented on #61
In GitLab by @Brend-Smits on Mar 29, 2020, 19:55

changed the description

[2020-04-19 19:31] Brend-Smits opened #62 "Research: How can we design an algorithm for search and recommendation while keeping the algorithm easy to maintain and extendable in the future?"
In GitLab by @Brend-Smits on Mar 29, 2020, 20:03

How can we design an algorithm for search and recommendation while keeping the algorithm easy to maintain and extendable in the future?
This topic requires discussion with the project team.

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/3

[2020-04-19 19:31] Brend-Smits opened #63 "Implement recommendation algorithm"
In GitLab by @Brend-Smits on Mar 29, 2020, 20:07

We want to be able to recommend the user projects based on their search history, contributions to existing projects, interests. #60 and #59 should be finished before we can tackle this

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/3

[2020-04-19 19:31] Brend-Smits commented on #63
In GitLab by @Brend-Smits on Mar 29, 2020, 20:08

changed the description

[2020-04-19 19:31] Brend-Smits opened #64 "Identify and Implement improved search algorithm"
In GitLab by @Brend-Smits on Mar 29, 2020, 20:11

Currently, we have a very basic search functionality with only name and description.
* Identify ways to improve this search feature with an algorithm.
* Implement this new way of searching.
This issue is blocked by #60 as the research should provide valuable insights on how to accomplish this.

Related Epic: https://git.fhict.nl/dex/dex-epics/-/iss

[2020-04-19 19:31] Brend-Smits opened #65 "Setup unit test"
In GitLab by @Brend-Smits on Mar 29, 2020, 20:15

Setup unit tests for code that benefits from them. We want to pick up unit testing from the start so it's not as much work in the end.

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:31] Brend-Smits commented on #65
In GitLab by @Brend-Smits on Apr 14, 2020, 10:20

assigned to @StijnGroenen

[2020-04-19 19:31] Brend-Smits opened #66 "IdentityServer - Single sign on with Fontys"
In GitLab by @Brend-Smits on Mar 29, 2020, 20:23

* [x]  Request Credential from Fontys
* [x]  Implement credentials and external provider in Identity Server
* [x]  Link external ID with database

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:31] Brend-Smits commented on #66
In GitLab by @Brend-Smits on Apr 14, 2020, 10:29

Until Fontys SSO is complete, I will implement temporarily test accounts that can be used to login in behalf of a user with role X. This is done to not block the Frontend and issues like #52 #53

[2020-04-19 19:31] Brend-Smits commented on #66
In GitLab by @Brend-Smits on Apr 18, 2020, 18:54

marked the task **Request Credential from Fontys** as completed

[2020-04-19 19:31] Brend-Smits opened #67 "Update existing technical documentation"
In GitLab by @Brend-Smits on Mar 29, 2020, 20:25

Update existing technical documentation like:
* Models
* C4
* Class Diagram
With changes that were made for Identity Server and such.

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:31] Brend-Smits commented on #67
In GitLab by @Brend-Smits on Mar 29, 2020, 20:25

changed title from **Update existing documentation** to **Update existing {+technical +}documentation**

[2020-04-19 19:31] Brend-Smits opened #68 "Certificates"
In GitLab by @Brend-Smits on Mar 30, 2020, 14:07

Certificates for:
- HTTPS
- Encryption
- Credentials

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:31] Brend-Smits opened #69 "Editor config file"
In GitLab by @Brend-Smits on Mar 30, 2020, 14:09

Based of the coding guidelines discussed in #50 we should create an editor configuration file and put it in the git repo so that we can use it in the pipeline and so that IDE's automatically detect it and use it

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:31] Brend-Smits commented on #69
In GitLab by @jcoenen96 on Apr 5, 2020, 21:15

assigned to @jcoenen96

[2020-04-19 19:31] Brend-Smits commented on #69
In GitLab by @jcoenen96 on Apr 6, 2020, 17:12

mentioned in merge request !17

[2020-04-19 19:32] Brend-Smits commented on #69
In GitLab by @Brend-Smits on Apr 18, 2020, 18:54

closed

[2020-04-19 19:32] #69 closed

[2020-04-19 19:32] Brend-Smits opened #70 "Add linting to the pipeline"
In GitLab by @Brend-Smits on Mar 30, 2020, 14:13

When #67 is finished, implement it in the pipeline

Related Epic: https://git.fhict.nl/dex/dex-epics/-/issues/14

[2020-04-19 19:32] Brend-Smits opened #71 "Add Changelog"
In GitLab by @Brend-Smits on Apr 1, 2020, 15:29

Changelog plz

[2020-04-19 19:32] Brend-Smits commented on #71
In GitLab by @Brend-Smits on Apr 1, 2020, 15:40

mentioned in merge request !16

[2020-04-19 19:32] Brend-Smits commented on #71
In GitLab by @Brend-Smits on Apr 1, 2020, 15:44

mentioned in commit 036986d4fae533d9cd5f7f235e8b059e7dbb7ac7

[2020-04-19 19:32] Brend-Smits commented on #71
In GitLab by @Brend-Smits on Apr 1, 2020, 15:44

closed via merge request !16

[2020-04-19 19:32] #71 closed

[2020-04-19 19:32] Brend-Smits opened #72 "Wiki: Coding guidelines"
In GitLab by @Brend-Smits on Apr 1, 2020, 15:52

Now that we have defined the coding guidelines, we should make a wiki article out of it.

[2020-04-19 19:32] Brend-Smits commented on #72
In GitLab by @jcoenen96 on Apr 5, 2020, 21:14

https://git.fhict.nl/dex/dex-backend/-/wikis/Guides/Coding-guidelines

[2020-04-19 19:32] Brend-Smits commented on #72
In GitLab by @jcoenen96 on Apr 5, 2020, 21:14

assigned to @jcoenen96

[2020-04-19 19:32] Brend-Smits commented on #72
In GitLab by @Brend-Smits on Apr 19, 2020, 11:06

closed

[2020-04-19 19:32] #72 closed

[2020-04-19 19:32] Brend-Smits opened #73 "Azure DevOps source"
In GitLab by @Brend-Smits on Apr 3, 2020, 10:58

Add Azure DevOps as a source

[2020-04-19 19:32] Brend-Smits opened #74 "Create unittest examples"
In GitLab by @jcoenen96  on Apr 6, 2020, 11:25

null

[2020-04-19 19:32] Brend-Smits commented on #74
In GitLab by @StijnGroenen on Apr 6, 2020, 11:25

assigned to @StijnGroenen

[2020-04-19 19:32] Brend-Smits opened #75 "Add license"
In GitLab by @Brend-Smits on Apr 8, 2020, 16:39

Add the license we decided on: LGPL

[2020-04-19 19:32] Brend-Smits commented on #75
In GitLab by @Brend-Smits on Apr 13, 2020, 11:15

closed

[2020-04-19 19:32] #75 closed

[2020-04-19 19:33] Brend-Smits opened #76 "Make the required changes to the backend in order to avoid hardcoded secrets"
In GitLab by @RensvdLinden on Apr 11, 2020, 13:15

null

[2020-04-19 19:33] Brend-Smits commented on #76
In GitLab by @RensvdLinden on Apr 11, 2020, 13:16

assigned to @RensvdLinden

[2020-04-19 19:33] Brend-Smits commented on #76
In GitLab by @RensvdLinden on Apr 11, 2020, 15:17

closed

[2020-04-19 19:33] #76 closed

[2020-04-19 19:33] Brend-Smits opened #77 "GDPR - Ability to request and remove your own data"
In GitLab by @Brend-Smits on Apr 14, 2020, 10:24

We want users to be able to login and request their own data, but also remove their own data and account. What should happen to projects that belong to this user? Should they be removed or should they be kept on the platform and passed on to one of the contributors? All of these things have to be considered.

[2020-04-19 19:33] Brend-Smits opened #78 "Create a testplan"
In GitLab by @Brend-Smits on Apr 14, 2020, 11:13

Create a test plan

[2020-04-19 19:33] Brend-Smits opened #79 "Improve FHICT Git source"
In GitLab by @Brend-Smits on Apr 15, 2020, 14:08

The flow for Gitlab is weird. When a user searches for a project, the platform will automatically search the Gitlab API for existing projects that we can show. However, what do we show the user for these projects in terms of Contributors, description or other information that is hard to automatically gather? And what if a user owns a project that i

[2020-04-19 19:33] Brend-Smits commented on #79
In GitLab by @jcoenen96 on Apr 16, 2020, 21:51

I just discussed this issue with Brend and Rens.
We think that the way that we are currently planning to implement sources (Like the FHICT GitLab) is poor.
By using separate flow for gathering data (Some projects are stored in our database, others need to be retrieved from an external source), it becomes really inconvenient to implement new features

[2020-04-19 19:33] Brend-Smits opened #80 "Error handling API, should we use headers to let the Frontend know?"
In GitLab by @Brend-Smits on Apr 19, 2020, 13:21

How should we let the frontend know what went wrong? Normally I create new headers and add those to the request if something went wrong for whatever reason. The frontend can intercept the requests and check if the headers are populated and act accordingly.

[2020-04-19 19:33] Brend-Smits opened #81 "Refactor and cleanup backend"
In GitLab by @Brend-Smits on Apr 19, 2020, 16:50

Refactor and cleanup backend with the new coding guidelines.

[2020-04-19 19:33] Brend-Smits commented on #81
In GitLab by @Brend-Smits on Apr 19, 2020, 20:26

closed

[2020-04-19 19:33] #81 closed

[2020-04-19 19:33] Brend-Smits opened #82 "Merge intial to develop - [merged]"
In GitLab by @wotwot on Mar 4, 2020, 18:17

_Merges initial -> master_

[2020-04-19 19:34] Brend-Smits opened #84 "Update .gitlab-ci.yml - [closed]"
In GitLab by @RensvdLinden on Mar 23, 2020, 09:25

_Merges patch-1 -> develop_

[2020-04-19 19:34] Brend-Smits commented on #84
In GitLab by @RensvdLinden on Mar 23, 2020, 09:27

added 1 commit

<ul><li>4b397107 - Update .gitlab-ci.yml</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/4/diffs?diff_id=19155&start_sha=89ea167a75dae7bdf48a98ecf4dbadd5874c0704)

[2020-04-19 19:34] Brend-Smits commented on #84
In GitLab by @RensvdLinden on Mar 23, 2020, 09:49

closed

[2020-04-19 19:34] #84 closed

[2020-04-19 19:34] Brend-Smits opened #85 "Update .gitlab-ci.yml - [merged]"
In GitLab by @RensvdLinden on Mar 23, 2020, 09:34

_Merges patch-2 -> develop_

[2020-04-19 19:34] Brend-Smits commented on #85
In GitLab by @RensvdLinden on Mar 23, 2020, 09:35

added 1 commit

<ul><li>6726919d - Update .gitlab-ci.yml</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/5/diffs?diff_id=19160&start_sha=221884b2b9fdea9207db8fe073333f819351cf9d)

[2020-04-19 19:34] Brend-Smits commented on #85
In GitLab by @RensvdLinden on Mar 23, 2020, 09:39

added 1 commit

<ul><li>4c80fc6a - Update .gitlab-ci.yml</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/5/diffs?diff_id=19162&start_sha=6726919da2d018f54bf72580052e698ecbc4a848)

[2020-04-19 19:34] Brend-Smits commented on #85
In GitLab by @RensvdLinden on Mar 27, 2020, 11:31

added 1 commit

<ul><li>791a8b51 - Update .gitlab-ci.yml</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/5/diffs?diff_id=19552&start_sha=4c80fc6ad3b35d5556d5df818396adf9ae2e0025)

[2020-04-19 19:34] Brend-Smits commented on #85
In GitLab by @RensvdLinden on Mar 27, 2020, 11:31

added 1 commit

<ul><li>4aa919f0 - Update .gitlab-ci.yml</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/5/diffs?diff_id=19553&start_sha=791a8b51890dfea1e73d57762a61d58726da2649)

[2020-04-19 19:34] Brend-Smits commented on #85
In GitLab by @RensvdLinden on Mar 27, 2020, 11:32

added 1 commit

<ul><li>15e9f4f0 - Update .gitlab-ci.yml</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/5/diffs?diff_id=19554&start_sha=4aa919f056ada68a283f0b9f95b08bc24aa85d98)

[2020-04-19 19:34] Brend-Smits commented on #85
In GitLab by @Brend-Smits on Mar 27, 2020, 11:43

mentioned in commit ebb2801f761da7f25a4c270d8c5e7ad99f1b1a66

[2020-04-19 19:34] Brend-Smits commented on #85
In GitLab by @Brend-Smits on Mar 27, 2020, 11:43

merged

[2020-04-19 19:34] #85 closed

[2020-04-19 19:34] Brend-Smits opened #86 "Feature/37 Create Models - [merged]"
In GitLab by @jcoenen96 on Mar 23, 2020, 16:03

_Merges feature/37_Create_Models -> develop_

Merge request for issue #37.
Updated the models and resource schemas to follow the specifications.

[2020-04-19 19:34] Brend-Smits commented on #86
In GitLab by @jcoenen96 on Mar 23, 2020, 17:12

added 1 commit

<ul><li>8c8cb532 - Added short description to project model</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/6/diffs?diff_id=19238&start_sha=b2c4871a06676a6ae65efea13134e70de614b9a4)

[2020-04-19 19:34] Brend-Smits commented on #86
In GitLab by @StijnGroenen on Mar 24, 2020, 10:29

[code]

[2020-04-19 19:34] Brend-Smits commented on #86
In GitLab by @wotwot on Mar 25, 2020, 16:52

Should we also add a updatedat field?

[2020-04-19 19:34] Brend-Smits commented on #86
In GitLab by @jcoenen96 on Mar 25, 2020, 16:52

added 1 commit

<ul><li>c025cd2d - Added created and updated properties to project model</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/6/diffs?diff_id=19399&start_sha=8c8cb5322cf0f97bca058c102e86c8fc54e656a2)

[2020-04-19 19:35] Brend-Smits commented on #86
In GitLab by @jcoenen96 on Mar 25, 2020, 16:55

I added both the created en the updated properties.

[2020-04-19 19:35] Brend-Smits commented on #86
In GitLab by @jcoenen96 on Mar 25, 2020, 16:55

resolved all threads

[2020-04-19 19:35] Brend-Smits commented on #86
In GitLab by @wotwot on Mar 25, 2020, 17:17

enabled an automatic merge when the pipeline for c025cd2dc7ae0b5649ce9addce4986de1c1186e2 succeeds

[2020-04-19 19:35] Brend-Smits commented on #86
In GitLab by @Brend-Smits on Mar 26, 2020, 10:51

canceled the automatic merge

[2020-04-19 19:35] Brend-Smits commented on #86
In GitLab by @Brend-Smits on Mar 26, 2020, 10:51

mentioned in commit 4c86ec3d9f725e5fe6b742cfbdbe2e4d37ce0abf

[2020-04-19 19:35] Brend-Smits commented on #86
In GitLab by @Brend-Smits on Mar 26, 2020, 10:51

merged

[2020-04-19 19:35] #86 closed

[2020-04-19 19:35] Brend-Smits opened #87 "Feature/search internal projects - [merged]"
In GitLab by @jcoenen96 on Mar 27, 2020, 11:58

_Merges feature/Search_Internal_Projects -> develop_

Implemented a search endpoint to search internal projects.
Issues #34, #35 and #36

[2020-04-19 19:35] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:11

added 21 commits

<ul><li>728b13d0...42939fef - 20 commits from branch <code>develop</code></li><li>90440ae6 - Merge branch &#39;develop&#39; into &#39;feature/Search_Internal_Projects&#39;</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/11/diffs?diff_id=19557&start_sha=728b13d045ad3afac8adcf20fc6018fe07549fc1)

[2020-04-19 19:35] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:26

Hoezo is bij deze controller page optioneel maar als die lager is dan 1 ook een badrequest?

[2020-04-19 19:35] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:29

changed this line in [version 3 of the diff](/dex/dex-backend/-/merge_requests/11/diffs?diff_id=19559&start_sha=90440ae6f26be322de62a063ad7d8203aac27f32#183c14ae1a7bf514911126a6bb2e2db88d01a364_40_40)

[2020-04-19 19:35] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:29

added 2 commits

<ul><li>7d0c0686 - Fixed optional page parameter</li><li>6fb279b3 - Merge remote-tracking branch &#39;origin/feature/Search_Internal_Projects&#39; into...</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/11/diffs?diff_id=19559&start_sha=90440ae6f26be322de62a063ad7d8203aac27f32)

[2020-04-19 19:35] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:29

Fixed

[2020-04-19 19:35] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:29

resolved all threads

[2020-04-19 19:35] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:31

geen comment

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:31

geen comment, snap de methode naam tevens ook niet

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:32

geen comment

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:32

Er zijn nog geen officiële guidelines voor.
Deze zijn dus nog wel nodig :)

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:33

Er zijn nog geen officiële guidelines voor.

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:33

Er zijn nog geen officiële guidelines voor.

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:33

resolved all threads

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:33

no comment

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:34

no comment

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:34

no comment

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:34

There are no official guidelines yet.

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:34

There are no official guidelines yet.

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:34

There are no official guidelines yet.

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:34

resolved all threads

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @StijnGroenen on Mar 27, 2020, 12:35

When you've requested all the projects already you can just count the list of the projects instead of querying the database again

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:36

The list of projects does not contain all of them due to pagination.

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 12:36

resolved all threads

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @Brend-Smits on Mar 27, 2020, 14:41

Maybe some documentation above the method to describe what the parameters are used for? Like... what is skip? What is take?

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 15:51

I think we should wait until we picked a documentation standard and comment style next week. (issue #50)

[2020-04-19 19:36] Brend-Smits commented on #87
In GitLab by @Brend-Smits on Mar 27, 2020, 15:54

Just place a few small comments about what the parameters do. I don't understand what they do at all.
Next week with #50 we will define definite styling guide yes, regardless of the meeting. Methods and Parameters should be descriptive :)

[2020-04-19 19:37] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 16:00

added 1 commit

<ul><li>76ceb664 - Added comment to explain skip and take parameters</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/11/diffs?diff_id=19571&start_sha=6fb279b3d1be4f73dcc185bd38bd8bdfab386c1a)

[2020-04-19 19:37] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 16:01

Added comments to explain skip and take.

[2020-04-19 19:37] Brend-Smits commented on #87
In GitLab by @jcoenen96 on Mar 27, 2020, 16:01

resolved all threads

[2020-04-19 19:37] Brend-Smits commented on #87
In GitLab by @Brend-Smits on Mar 27, 2020, 17:01

merged

[2020-04-19 19:37] Brend-Smits commented on #87
In GitLab by @Brend-Smits on Mar 27, 2020, 17:01

mentioned in commit 1404132ffac53aa6c173ad78f485fc5667ba499a

[2020-04-19 19:37] #87 closed

[2020-04-19 19:39] Brend-Smits opened #89 "Cleanup - [merged]"
In GitLab by @StijnGroenen on Mar 27, 2020, 17:30

_Merges cleanup -> develop_

Disabled authorization for the demo
Use resources on api result
added design package to api
moved bogus to data
moved seeding to data
return user with projects

[2020-04-19 19:39] Brend-Smits commented on #89
In GitLab by @StijnGroenen on Mar 29, 2020, 15:32

added 15 commits

<ul><li>c6a39f70...96ff1bad - 13 commits from branch <code>develop</code></li><li>116ff74e - Merge branch &#39;develop&#39; into cleanup</li><li>b1839a4b - Merge branch &#39;develop&#39; into cleanup</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/13/diffs?diff_id=19717&start_sha=c6a39f70bab571589661d

[2020-04-19 19:39] Brend-Smits commented on #89
In GitLab by @StijnGroenen on Mar 29, 2020, 18:19

added 1 commit

<ul><li>1c74edf2 - Return user and collaborator with a single project and return notFound instead of noContent</li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/13/diffs?diff_id=19718&start_sha=b1839a4bd90d2c4f15020fd722f8a4af8a000248)

[2020-04-19 19:39] Brend-Smits commented on #89
In GitLab by @StijnGroenen on Mar 29, 2020, 19:10

added 2 commits

<ul><li>c7ce4198 - </li><li>761eac10 - </li></ul>

[Compare with previous version](/dex/dex-backend/-/merge_requests/13/diffs?diff_id=19722&start_sha=1c74edf2d45ee0a09957f0bf5380931ac99c48b4)

[2020-04-19 19:39] Brend-Smits commented on #89
In GitLab by @Brend-Smits on Mar 29, 2020, 19:19

merged

[2020-04-19 19:39] Brend-Smits commented on #89
In GitLab by @Brend-Smits on Mar 29, 2020, 19:19

mentioned in commit 2da5d398b73383c835703cff2b65c8119fcd7031

[2020-04-19 19:39] #89 closed

[2020-04-19 19:39] Brend-Smits opened #90 "Added .editorconfig file - [merged]"
In GitLab by @jcoenen96 on Apr 6, 2020, 17:12

_Merges feature/Editorconfig -> develop_

Added .editorconfig file
Issue #67

[2020-04-19 19:39] Brend-Smits opened #91 "Deleted secrets and connection string - [merged]"
In GitLab by @RensvdLinden on Apr 11, 2020, 14:58

_Merges feature/remove_secrets -> develop_

Deleted the secrets and the connection string so we can set them with environment variables when we migrate.

[2020-04-19 19:39] Brend-Smits commented on #91
In GitLab by @StijnGroenen on Apr 11, 2020, 15:03

merged

[2020-04-19 19:39] Brend-Smits commented on #91
In GitLab by @StijnGroenen on Apr 11, 2020, 15:03

mentioned in commit 5b5c2c00e785a7cf6616d40ae928f66eaad87e82

[2020-04-19 19:39] #91 closed

[2020-04-19 19:39] Brend-Smits opened #93 "WIP: Resolve "Sort projects" - [closed]"
In GitLab by @jcoenen96 on Apr 16, 2020, 17:13

_Merges 57-sort-projects -> develop_

Closes #57

[2020-04-19 19:40] Brend-Smits commented on #93
In GitLab by @jcoenen96 on Apr 16, 2020, 17:15

closed

[2020-04-19 19:40] Brend-Smits commented on #93
In GitLab by @jcoenen96 on Apr 16, 2020, 17:15

Wrong branch...

[2020-04-19 19:40] #93 closed

[2020-04-19 19:40] Brend-Smits opened #94 "Added project sorting - [merged]"
In GitLab by @jcoenen96 on Apr 16, 2020, 17:16

_Merges feature/57_Sort_projects -> develop_

Added sorting to the search internal projects endpoint.
Issue #57

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:01

This editor config..... Can you fix?

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:01

Spacing?

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:05

unassigned @Brend-Smits

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:05

assigned to @StijnGroenen

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:05

assigned to @RensvdLinden and unassigned @StijnGroenen

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @jcoenen96 on Apr 17, 2020, 18:05

This has nothing to do with the .editorconfig file.
I put the parameters on new lines manually to make it easier to read.

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:05

@RensvdLinden and @StijnGroenen can you review?

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @jcoenen96 on Apr 17, 2020, 18:06

This spacing is weird.
In my IDE it looks normal.
![image](/uploads/e39d0a587cfd9ac3c4b9c1678e3c3f09/image.png)

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @jcoenen96 on Apr 17, 2020, 18:10

I found out what the issue is.

To keep an even spacing for all developers, we defined in the .editorconfig file that we use spaces instead of tabs in our files.

Unfortunately, all the old lines still use tabs while the new lines use spaces to define the spacing.
That's also why it looks normal in an IDE since it renders the tabs to the same width a

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:12

Okay makes sense, thanks for checking. I found this odd in other PR's as well.
Before starting the next sprint, I will run a full solution cleanup to resolve this...

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 17, 2020, 18:12

resolved all threads

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @RensvdLinden on Apr 19, 2020, 11:14

The coding guidelines state that the use of underscores is not allowed, if I remember correctly

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @RensvdLinden on Apr 19, 2020, 11:14

The coding guidelines state that the use of underscores is not allowed, if I remember correctly

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 19, 2020, 11:16

They do, but, I will be creating a cleanup and refactor branch today to reformat and fix these kinds of issues. No need to fix this for now.

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 19, 2020, 11:16

They do, but, I will be creating a cleanup and refactor branch today to reformat and fix these kinds of issues. No need to fix this for now.

[2020-04-19 19:40] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 19, 2020, 11:16

resolved all threads

[2020-04-19 19:41] Brend-Smits commented on #94
In GitLab by @jcoenen96 on Apr 19, 2020, 13:30

The underscores where already in the code. That's not something added in this MR.

[2020-04-19 19:41] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 19, 2020, 13:43

merged

[2020-04-19 19:41] Brend-Smits commented on #94
In GitLab by @Brend-Smits on Apr 19, 2020, 13:43

mentioned in commit a7a52ad150d282794abaa22efbe355535c743af3

[2020-04-19 19:41] #94 closed

[2020-04-19 19:41] Brend-Smits opened #95 "Feature/79 refactor cleanup - [merged]"
In GitLab by @Brend-Smits on Apr 19, 2020, 18:27

_Merges feature/79-refactor-cleanup -> develop_

General cleanup, refactored some stuff and put some comments

[2020-04-19 19:41] Brend-Smits commented on #95
In GitLab by @jcoenen96 on Apr 19, 2020, 18:30

merged

[2020-04-19 19:41] Brend-Smits commented on #95
In GitLab by @jcoenen96 on Apr 19, 2020, 18:30

mentioned in commit abda91cf065c7e970b8e46a555ecd87ca140b216

[2020-04-19 19:41] #95 closed

[2020-04-19 19:44] #82 closed

[2020-04-19 19:44] #90 closed

[2020-04-20 18:00] Brend-Smits opened #99 "Project Create - Get the User information from access_token (jwt)"
When creating a project, user is always set to 1 (this is unintended, properly left overs from testing). This was found out by the postman tests described here #98
To resolve this we should retrieve the user id from the resource, if the user id is not set, we should retrieve it via the access token (jwt token).

[2020-04-21 08:03] wotwot563 commented on #56
I have looked into this issue and propose the following:

For public projects, anyone signed in could create a embed iframe.

For private projects, only the owner of that project or a person with more authority(teacher, admin) could generate a link with a GUID which gives permission to show that project in public. This means that the link can be disabled if the GUID is retracted.
For each individu

[2020-04-21 08:25] wotwot563 commented on #80
I suggest we follow rfc7807 which aims to unify the error message format.
https://tools.ietf.org/html/rfc7807

A short example of the format:
HTTP/1.1 403 Forbidden
   Content-Type: application/problem+json
   Content-Language: en

   {
    "type": "https://example.com/probs/out-of-credit",
    "title": "You do not have enough credit.",
    "detail": "Your current balance is 30, but that costs 50.

[2020-04-21 13:16] Brend-Smits opened #101 "Authentication Swagger"
Want to be able to initiate the OAuth flow from within Swagger in the API (click the green locket and start oauth flow to get access token)

[2020-04-22 13:01] Brend-Smits opened #103 "test 1"

[2020-04-22 13:01] Brend-Smits commented on #103
new comment on this issue - test

[2020-04-22 13:02] #103 closed

[2020-04-22 13:10] Brend-Smits commented on #103
test2

[2020-04-22 13:53] Brend-Smits opened #105 "Remove IIS in launch settings"
We highlight recommend using Kestrel server instead of IIS Server to launch the DeX-backend and IdentityServer. This is why I propose to remove IIS in the launchsettings.json, at the very least we should prioritize Kestrel and set it to be the main server instead of IIS.

[2020-04-23 07:27] #11 closed

[2020-04-23 08:22] wilrikdeloose commented on #79
I've discussed this with the Digital Excellence team and I think I have enough feedback to be able to conclude that one uniform implementation for all sources, both internal and external, is more in favor than making one exception for the FHICT GitLab. In other words, create one flow for adding new projects to DeX and do not automatically include all FHICT GitLab projects in search results.

[2020-05-03 14:54] Brend-Smits commented on #79
That's great news, let's dedicate resources to this in the upcoming sprint (sprint 4).

[2020-05-04 10:37] Brend-Smits opened #107 "Role based authorization"
**Is your feature request related to a problem? Please describe.**
Lack of authorization in the backend. There are no role based policies.

**Describe the solution you'd like**
Create roles: Administrator, Stakeholder, User

**Additional context**
Do research on how to implement this, what is the standard?

[2020-05-04 12:18] Brend-Smits commented on #18
We decided to go with OVH, we're now renting 2 VPSes and Rens is setting them up.

[2020-05-04 12:18] #18 closed

[2020-05-05 09:28] #80 closed

[2020-05-05 09:35] StijnGroenen commented on #17
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:35] StijnGroenen commented on #36
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:35] StijnGroenen commented on #37
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:35] StijnGroenen commented on #38
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:36] StijnGroenen commented on #39
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:36] StijnGroenen commented on #59
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:36] StijnGroenen commented on #69
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:36] StijnGroenen commented on #72
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:36] StijnGroenen commented on #86
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:37] StijnGroenen commented on #95
Switched the assigned user to me because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:38] StijnGroenen commented on #89
Switched the assigned user to @jcoenen96 because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:38] StijnGroenen commented on #91
Switched the assigned user to @jcoenen96 because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-05 09:39] StijnGroenen commented on #35
Switched the assigned user to @jcoenen96 because @jcoenen96 and @StijnGroenen were switched during the migration from GitLab to GitHub due to an incorrect mapping.

[2020-05-06 15:46] #57 closed

[2020-05-07 10:00] #65 closed

[2020-05-07 10:00] #74 closed

[2020-05-07 14:17] Brend-Smits opened #117 "Rename test folders"
Folders for tests were incorrectly named

[2020-05-09 07:20] Brend-Smits commented on #56
This is open for discussion, @wilrikdeloose and @DigitalExcellence/backend
What do you all think? How should this be handled?

[2020-05-11 06:48] Brend-Smits opened #120 "Return isHighlighted on project model"
Return isHighlighted on project model

[2020-05-11 06:49] #117 closed

[2020-05-11 08:30] #68 closed

[2020-05-11 09:05] StijnGroenen commented on #79
I updated the Setup Plan to incorporate these changes.

[2020-05-12 09:12] #107 closed

[2020-05-13 08:39] JVerbruggen opened #121 "Get unit tests in sync with the codebase"

[2020-05-13 14:50] StijnGroenen opened #123 "Wizard controller specification"
In the wiki, create a specification for the wizard controller and create a specification for models for requests and responses for the wizard controller.
The wizard controller should be able to handle a request from the front end to automatically retrieve metadata (name, description, collaborators, etc.) for new projects based on a provided URI.

[2020-05-13 14:54] StijnGroenen opened #124 "Get URL metadata"
The current source manager automatically retrieves metadata from an URI when the URI matches a GitLab URL. However, this only works for GitLab projects (obviously).
Create a function that checks if the provided URI is a URL. If so, retrieve as much information about the project URL as possible (name, description, etc.) using a GET-request and HTML metadata tags.
(See https://developer.mozilla.org/

[2020-05-13 14:56] StijnGroenen opened #125 "Get GitLab metadata"
Create a function that retrieves as many of the project information (name, description, etc.) as possible using the GitLab API.
Add this function to the wizard service so it automatically uses the GitLab API for GitLab URLs.

[2020-05-13 14:56] StijnGroenen opened #126 "Get GitHub metadata"
Create a function that retrieves as many of the project information (name, description, etc.) as possible using the GitHub API.
Add this function to the wizard service so it automatically uses the GitHub API for GitHub URLs.

[2020-05-13 15:02] StijnGroenen opened #127 "Wizard controller and service"
Create a new API controller and service for the wizard endpoints defined in the specification (Issue #123).
Create models and resources that can be used for requests and responses defined in the specification (Issue #123).
The service needs a function where the URI can be matched with an available metadata retriever (Issues #124, #125, #126).

[2020-05-15 09:52] Brend-Smits opened #128 "Backup database volume"
**Is your feature request related to a problem? Please describe.**
The MSSQL database that we use to store our data in, is not being backed up at the moment. This means that if something happened in production, data loss could occur.

**Describe the solution you'd like**
We need to setup a solution that backs up all MSSQL data every X hours. We should setup an additional docker container that runs

[2020-05-18 13:24] #101 closed

[2020-05-19 07:55] Brend-Smits commented on #79
This can be closed in favor of #127 , feel free to re-open if you disagree

[2020-05-19 07:55] #79 closed

[2020-05-19 07:56] Brend-Smits commented on #128
Instead of using S3, we will be using OVH Object storage: https://www.ovhcloud.com/nl/public-cloud/object-storage/
I'm running tests to see how many projects we would have to save to hit the 1 GB mark....

[2020-05-19 09:40] StijnGroenen commented on #56
Since we have generalized the project structure (Issue #79), I think all projects are (and should be) publicly available (at least for now).

[2020-05-19 09:42] Brend-Smits commented on #56
Yes, this definitely simplifies this issue. Right @wotwot563 ?
Are there any other topics that need discussing regarding this issue or can implementation start?

[2020-05-19 09:46] Brend-Smits opened #129 "Search result should not return UserResourceResult"
**Describe the bug**
We don't want to return the user (UserResourceResult) when making a search query.

**To Reproduce**
Make a request to the search endpoint in the API and see that Users are returned.

**Expected behavior**
Search results are returned with user information. Frontend does not need the user as of yet.

[2020-05-19 10:10] wotwot563 commented on #56
there is already an implementation, the only addition it needs is user validation

[2020-05-19 11:36] Brend-Smits commented on #56
User validation? Are you saying that it's already implemented in some branch?
Can you open a WIP PR please?

[2020-05-19 11:45] wotwot563 commented on #56
https://github.com/DigitalExcellence/dex-backend/pull/131

[2020-05-20 12:16] Brend-Smits opened #132 "Controllers not allowed returning bad request instead of 401 or 403"
If a person is not allowed to perform a certain action because they don't have permission. It should not be returning Bad Request. It should return a 401 Unauthorized instead.

The coding guidelines should also be updated to reflect this change.

[2020-05-20 12:52] StijnGroenen commented on #132
It should return 401 Unauthorized if the user is not authenticated / signed in.
If the user is authenticated / signed in but it does not have the right permissions to perform an action it should return 403 Forbidden.

[2020-05-20 13:04] wotwot563 commented on #132
its debatable as seen in the rfc https://tools.ietf.org/html/rfc7235#section-3.1 its both possible, but my preference also goes out to 403

[2020-05-20 13:14] Brend-Smits commented on #132
Forbidden would be a good option if it allowed to ship a body. We can not describe to the user why they were forbidden.
With Unauthorized we can tell the user why the request was not allowed.

[2020-05-20 13:18] #132 closed

[2020-05-20 13:22] #129 closed

[2020-05-20 13:32] #50 closed

[2020-05-20 13:41] Brend-Smits opened #134 "Improved Seeding"
**Is your feature request related to a problem? Please describe.**
Currently the seeding is done in the migrations, it should be moved out of the migrations. The migrations are unreadable at this point and hard to manage.

**Describe the solution you'd like**
The following things should be seeded in development only:

- Projects
- Users
- Highlighted Projects
- Embeds
- Collaborators

The followin

[2020-05-20 16:07] #99 closed

[2020-05-20 16:11] #120 closed

[2020-05-20 17:43] Brend-Smits opened #136 "Setup Error monitoring tool Sentry"
**Is your feature request related to a problem? Please describe.**
Lack of proper tooling to track errors in both the backend and frontend

**Describe the solution you'd like**
Implement a solution like Sentry that allows us to track errors in production workloads and allows us to easily act upon them with alerts / new issues.

**Additional context**
I've received a sponsored account for Digital E

[2020-05-20 17:45] Brend-Smits opened #137 "Request 1Password Open Source License"
Request an open source license for a password manager like 1Password so that we can more easily manage our passwords. We currently use KeepPass but it's not great in my opinion. Especially not in teams with different access levels and requirements.

[2020-05-21 08:20] Brend-Smits opened #138 "Return only user properties when actually needed"
We need to be careful with returning users when requesting for example all projects. I recommend we look into all endpoints and check carefully what we are returning. In some cases only an ID would be sufficient to return, in others we do need a name.
I noticed we are returning email addresses when calling 'Get all projects" or "Project Detail" page.
There might be more endpoints that are accessib

[2020-05-21 09:03] Brend-Smits opened #139 "Project-Create - Get user from httpcontext"
**Describe the bug**
When creating a project in the Frontend, we do not send the user id. Leading to bad requests since no user can be coupled to the project. The same goes for the Postman tests that I'm setting up with ACL now.

**Expected behavior**
In the backend we should retrieve the user id from the HttpContext instead. We should add an extension method that can be called when this is needed

[2020-05-21 09:18] Brend-Smits opened #140 "Project-Update Always returns unauthorized"
**Describe the bug**
Project Update will always return unauthorized.
Consider the following code snipper:
`            string identity = HttpContext.User.GetStudentId(HttpContext);
            bool isAllowed = userService.UserHasScope(identity, nameof(Defaults.Scopes.ProjectWrite));
            User user = await userService.GetUserByIdentityIdAsync(identity);

            if(!(project.UserId == us

[2020-05-21 09:59] Brend-Smits opened #141 "User - Get - Cannot retrieve your own user"
**Describe the bug**
As a registered user, I cannot use the get-user endpoint to retrieve my own profile information.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a call to /api/User/{{IDENTITY ID HERE}}
2. See that you get 403 Forbidden instead of your user profile

**Expected behavior**
You should be able to retrieve your own user profile. Users with the right access should be able

[2020-05-21 10:09] Brend-Smits opened #142 "All user-id's in the API should be renamed and re-referenced to Identity Id"
**Describe the bug**
Previously we used User ID to retrieve the user, this was fine when we did not have an identity server. Now that we have an identity server, we need to start using identity Id instead of user id to retrieve users, update users, delete users.
This is not only a problem in the user endpoint, but also a problem in resources like the ProjectResource.

**Expected behavior**
Rename

[2020-05-21 10:24] Brend-Smits commented on #142
I think when returning the user when creating projects, it might be best to also return the identity id instead of the user id. If the user id is only used internally and should not be used in the API, I don't think there's a benefit to showing it when creating a project for example.

This is what currently is returned when creating a project:
`{
    "id": 46,
    "user": {
        "id": 35,

[2020-05-21 12:33] StijnGroenen commented on #138
I think that the user e-mail addresses should only be displayed when the user has explicitly turned on an option to display the e-mail address on his / her profile. By default it should not show e-mail addresses.

[2020-05-21 12:38] StijnGroenen commented on #142
Is the Identity ID generated by our IdentityServer or is it provided by the external identity provider (SURFconext)? If it is provided by the external identity provider, it should not be used by Digital Excellence as the primary ID since we have no control over it and we can not guarantee that it will be unique.

[2020-05-21 12:41] StijnGroenen commented on #137
Also take a look at Bitwarden (a self-hosted password manager) as an alternative to hosted password manager services like 1Password etc.

[2020-05-21 16:14] wotwot563 commented on #140
This is incorrect, in this if statement it checks if either the user owns the project or has projectwrite scope.

the id that is checked is not the identity id, the identity id is used to get the user object and that user objects id is compared.

[2020-05-22 07:12] Brend-Smits commented on #140
You're right, my bad. I must have not read it properly due to me being in a hurry! Woops :)

[2020-05-22 07:12] #140 closed

[2020-05-25 06:28] Brend-Smits opened #145 "Rename "Get Student ID" or "StudentId" headers to something else.."
In the backend and Identity server we're often referring to the 'student id", this is incorrect as not only students use the platform.
We should change it and the corresponding methods to something more descriptive, perhaps RegisteredUserId or UserId?

[2020-05-25 08:16] #56 closed

[2020-05-25 08:37] JVerbruggen commented on #138
Why return all this info if you can only return an id? or secret id? then only users with rights to view the user's data can get it in another request.

[2020-05-25 09:02] #78 closed

[2020-05-25 09:37] wotwot563 commented on #142
I had a discussion with @StijnGroenen  and we both agreed that it would not be good to have the identity id as a user id. mainly because we cannot guarantee that the studentid is unique.

The best way in our opinion would be to match the source and an unique id(be it student id or provider id) to one user and extract the user id from that.
This will need some testing when we actually have SURFCone

[2020-05-25 09:37] #142 closed

[2020-05-25 09:55] sentry-io[bot] opened #147 "Error: Uncaught (in promise): Error: Dit is een test error"
Sentry Issue: [FRONTEND-1](https://sentry.io/organizations/digital-excellence/issues/1688404525/?referrer=github_integration)

[code]

[2020-05-25 14:33] #147 closed

[2020-05-25 14:36] Brend-Smits opened #149 "Make Project URI Unique"
We don't want duplicate projects on the platform. This is why I propose to make the Project URI unique.

[2020-05-26 12:39] StijnGroenen commented on #149
This is a difficult issue to solve. There are a lot of different (unique) URI's that can lead to the same project. For example:
- https://github.com/DigitalExcellence/dex-backend or https://github.com/DigitalExcellence/dex-backend/
- https://www.youtube.com/watch?v=dQw4w9WgXcQ or https://youtu.be/dQw4w9WgXcQ

In these examples, the 2 URI's lead to the same project, but they are different. In case

[2020-05-26 14:16] #139 closed

[2020-05-26 15:44] wotwot563 commented on #149
@StijnGroenen It is not a difficult issue per say, when we run the wizard it will query the respected source and get that url, so the urls should be the same.

I agree in the potential improvement to notify the user if the project URI is already in the database.

[2020-05-26 15:47] wotwot563 commented on #138
I agree in the public private option.

The main reason for this is that when you cannot search for a user who wants to be searchable( think of a teacher account) it gets harder to find certain projects.

If teacher a creates application a,b,c and he wants the class to use them as an example it would be easy if the class could search teachers name and find all three.

[2020-05-27 06:27] Brend-Smits commented on #138
You can still search on (user) name perhaps? We can include the email addresses if the user opted in to show email publically.
If this is the route that we want to go, we need to start making changes to the user model to support this behavior.

[2020-05-27 06:30] Brend-Smits commented on #149
Thanks for the input, I wonder what @wilrikdeloose thinks of this?

It might be easier to add this feature than to make the URI unique:

We could always start by showing a message, if it turns out to not work well we can look into different ways to solve this issue?

[2020-05-27 08:16] Brend-Smits opened #150 "Normalize line endings in Git by using git attributes"
In Git we need to add a git attributes file to normalize the line endings, see the documentation for more details:
https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings#per-repository-settings

[2020-05-27 09:00] #141 closed

[2020-05-27 09:08] #134 closed

[2020-05-27 13:48] wotwot563 opened #154 "Self delete"
**Describe the bug**
The user is not allowed to delete their own user account, currently only the user with userWrite scope is.
**To Reproduce**
run delete/self id

**Expected behavior**
That i am allowed to delete my own account.

[2020-05-28 12:09] #150 closed

[2020-06-01 14:31] StijnGroenen opened #156 "Pagination for the get all projects endpoint"
**Is your feature request related to a problem? Please describe.**
The get all projects endpoint does not yet support pagination.

**Describe the solution you'd like**
Pagination for the get all projects endpoint

[2020-06-01 14:31] StijnGroenen opened #157 "Sorting for the get all projects endpoint"
**Is your feature request related to a problem? Please describe.**
The get all projects endpoint does not yet support sorting.

**Describe the solution you'd like**
Sorting for the get all projects endpoint

[2020-06-02 08:35] #145 closed

[2020-06-02 09:16] wotwot563 opened #159 "Identity server persistence"
Currently the identity server uses an in memory datastore.
On reboot all the information that is stored is lost. While this is not really important information (because it is auto generated) it would be nice to have.

[2020-06-02 11:40] StijnGroenen opened #161 "Filtering for the get all projects endpoint"
**Is your feature request related to a problem? Please describe.**
The get all projects endpoint does not yet support filtering.

**Describe the solution you'd like**
Filtering for the get all projects endpoint

[2020-06-02 11:45] #136 closed

[2020-06-02 12:15] StijnGroenen opened #163 "Line ending conflicts"
Because we agreed on using CRLF line endings, my IDE automatically converts the line endings to CRLF if they aren't already. This is expected and correct behaviour.
The entire code base should have been converted to CRLF after we decided that we were going to use this type on line ending. But apparently the code base still contains files using the LF line endings, which is causing conflicts now (F

[2020-06-02 13:24] wotwot563 commented on #163
i would say that .gitattributes is the best consistent way. then it cannot go wrong every time.

[2020-06-02 14:12] JVerbruggen commented on #163
Without having done real research on this topic, I think it is best to use the .gitattributes, since it is, as wotwot563 commented above, the most consistent way to do this. If you decide to not use the default option in your operating system, it will continue to go wrong no matter what, especially if this default option differs over different operating systems. By specifying it in your project I

[2020-06-02 14:25] StijnGroenen commented on #163
I agree that is a good idea to enforce the line endings using the .gitattributes file.
@wotwot563, @JVerbruggen and others, would you guys like to change the entire codebase over to CRLF line endings or change the coding guidelines to LF line endings (both types of line endings can be enforced using .gitattributes, LF is the default).

[2020-06-02 14:49] wotwot563 commented on #163
follow the guideline so CRLF

[2020-06-02 15:04] JVerbruggen commented on #163
I think it may be wise to read this article on this rather old topic: https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/

[2020-06-02 15:14] JVerbruggen commented on #163
Based on these articles there really is no good answer here. The best we can do right now is following the guidelines, and convert to CRLF. Make sure though that this does not include binary files, only text files, since this might corrupt these files.

[2020-06-02 15:17] JVerbruggen commented on #163
Use **text eol=crlf** reference https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings

[2020-06-03 09:15] #156 closed

[2020-06-03 09:15] #157 closed

[2020-06-03 09:15] #161 closed

[2020-06-03 14:26] #66 closed

[2020-06-03 15:56] Brend-Smits opened #165 "Improve user flow when logging in"
**Is your feature request related to a problem? Please describe.**
When the user clicks on the login button, they click on the 'FHICT' button, then get redirected to the backend Identity server, where they have to click "Fontys" again. This is quite confusing for the end-user.

**Describe the solution you'd like**
Upon clicking "Login with FHICT" in the frontend, automatically redirect them throug

[2020-06-03 15:57] #138 closed

[2020-06-03 16:20] StijnGroenen commented on #165
The local sign-in would only be used by administrators right? In that case, I think that this should be on a separate page.
If we are going to add support for local users (and registering a Digital Excellence account etc.) than it should be visible on the normal sign-in page.

[2020-06-03 16:21] StijnGroenen commented on #165
The local sign-in would only be used by administrators right? In that case, I think that this should be on a separate page.
If we are going to add support for local users (and registering a Digital Excellence account etc.) then it should be visible on the normal sign-in page.

[2020-06-03 16:24] #125 closed

[2020-06-03 16:24] #127 closed

[2020-06-03 17:41] wotwot563 commented on #165
backend support for a staff panel is already implemented so the new semester shouldnt have that much work on it.

[2020-06-03 18:16] Brend-Smits opened #167 "FHICT OIDC Credentials are missing in development environment"
`[20:09:18 Error] Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware
An unhandled exception has occurred while executing the request.
System.ArgumentException: Options.ClientId must be provided (Parameter 'ClientId')
   at Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectOptions.Validate()
   at Microsoft.AspNetCore.Authentication.RemoteAuthenticationOptions.Validate(S

[2020-06-03 18:50] Brend-Smits opened #168 "Endpoint /api/role/roles should be /api/role"
All endpoints that we currently have that return all of something are as following:
- /api/project
- /api/embed

but roles is like this:
- /api/role/roles

This should be changed to /api/role

[2020-06-07 18:11] Brend-Smits opened #169 "Return username with Project overview endpoint"
Project Overview endpoint should return username of the project so it can be shown on the frontend.

[2020-06-07 18:37] #167 closed

[2020-06-07 18:56] #121 closed

[2020-06-08 09:25] Brend-Smits opened #172 "Role Repository unit tests"
There are no unit tests currently for RoleRepository.
Create a bad and good flow.

[2020-06-08 09:26] Brend-Smits opened #173 "Source manager unit tests"
Unit tests are lacking for the source manager service.
Create good and bad flow.

[2020-06-08 12:13] #70 closed

[2020-06-08 14:07] #165 closed

[2020-06-10 12:58] Brend-Smits opened #174 "Add Highlight endpoint to retrieve by project id"
Add Highlight endpoint to retrieve by project id

[2020-06-10 23:59] wotwot563 opened #178 "Bug collection"
This bug report contains a list of issues:
- GetHighlight had the parameter projectid instead of highlight id.
This bug is a copy paste error where the http get shows projectid while the function param is a highlight id so postman requires both of them.

- The user was allowed to delete the admin and registereduser role, this is now disallowed.
The registereduser and administrator user role are cr

[2020-06-12 08:28] Brend-Smits commented on #137
Waiting for: https://github.com/1Password/1password-teams-open-source/pull/204

[2020-06-12 09:20] RensvdLinden commented on #48
https://github.com/DigitalExcellence/dex-backend/wiki/Getting-Started

[2020-06-12 09:20] #48 closed

[2020-06-12 09:31] #174 closed

[2020-06-12 09:40] RensvdLinden opened #179 "Docker-compose dev"
Easily setup local dev environment using docker-compose.

[2020-06-15 09:16] Brend-Smits opened #181 "Service.GitlabSource Unit test"
**Is your feature request related to a problem? Please describe.**
Lack of unit tests for the gitlab source service.

**Describe the solution you'd like**
Write unit tests for all the methods in this service, even the ones that return notimplementedexception.

[2020-06-15 09:27] Brend-Smits opened #182 "Service.GithubSource Unit test"
**Is your feature request related to a problem? Please describe.**
Lack of unit tests for the Github source service.

**Describe the solution you'd like**
Write unit tests for all the methods in this service, even the ones that return notimplementedexception.

[2020-06-15 09:29] Brend-Smits opened #183 "Services.SearchService unit test"
**Is your feature request related to a problem? Please describe.**
Lack of unit tests for the search service.

**Describe the solution you'd like**
Write unit tests for all the methods in this service, even the ones that return notimplementedexception. Remember to test bugs like the one from @rubenb994 today.

**Additional context**
@StijnGroenen could you pick this up?

[2020-06-15 09:29] jcoenen96 opened #184 "Show unit test code coverage in pipeline"

[2020-06-15 10:05] rubenb994 opened #185 "Project Endpoints returns unexpected results"
**Describe the bug**
When querying the project endpoints from the overview, results are returned which do not match the query properly

**To Reproduce**
Steps to reproduce the behavior:
1. Based on the following branches, Backend: develop, Frontend: feature/accordion-functionality
2. Go to project overview
3. Select only non-highlighted
4. Set sorting to name
5. Change sorting from asc to desc
6.

[2020-06-15 10:15] #178 closed

[2020-06-15 10:15] #105 closed

[2020-06-15 10:15] #154 closed

[2020-06-15 10:15] #168 closed

[2020-06-15 11:59] #169 closed

[2020-06-15 12:00] rubenb994 opened #187 "Add support for SonarQube"
**Describe the solution you'd like**
.gitignore files should be changed so that sonarqube files are not included in the repo.

[2020-06-15 12:01] #40 closed

[2020-06-15 12:09] Brend-Smits opened #189 "Add Postman tests to pipeline"
**Is your feature request related to a problem? Please describe.**
Postman tests exist, but are not yet executed when a pull request is created

**Describe the solution you'd like**
Add the postman tests to the pipeline and trigger them on pull request

**Additional context**
Postman files can be found in /Postman directory.

[2020-06-15 12:12] Brend-Smits opened #190 "Convert docker-compose to use Docker Swarm"
**Is your feature request related to a problem? Please describe.**
We're currently using docker-compose for production. Docker compose is okay for single machine use cases, but what if we decide to scale up? What if we want to have an environment where downtime is not acceptable. We can't do this easily with docker-compose alone.

**Describe the solution you'd like**
Convert the docker-compose fil

[2020-06-15 12:12] Brend-Smits commented on #190
I will add more information about this issue during the holidays.

[2020-06-15 12:18] Brend-Smits opened #192 "Production credentials Fontys SSO"
Did we update the client-secret credentials for Fontys SSO in production?

[2020-06-15 12:44] RensvdLinden commented on #192
Is done

[2020-06-15 12:44] #192 closed

[2020-06-15 15:13] #60 closed

[2020-06-15 15:13] #179 closed

[2020-06-15 15:52] Brend-Smits commented on #137
Thanks to 1Password we now have an open-source license and we can migrate from KeePass to 1Password.

[2020-06-15 15:52] #137 closed

[2020-06-16 10:00] #181 closed

[2020-06-16 10:00] #182 closed

[2020-06-16 13:41] #187 closed

[2020-06-16 20:54] RensvdLinden opened #196 "Logout hyperlink is not rendering"
**Describe the bug**
When logged out, the hyperlink to return to the frontend is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.dex.software
2. Click on login
3. Provide right credentials
4. When logged in, click on log out

**Expected behavior**
There should be a hyperlink which takes you back to the front page of the frontend

**Screenshots**

Actual:
![Wrong]

[2020-06-17 12:15] rubenb994 opened #198 "Implement sanitization for project details"
**Is your feature request related to a problem? Please describe.**
We are going to implement a WYSIWYG Editor for the project details. This HTML will be provided to the API as a string.

**Describe the solution you'd like**
Project description should be sanitized with the help of: https://github.com/mganss/HtmlSanitizer

[2020-06-17 13:01] #196 closed

[2020-06-17 14:19] #173 closed

[2020-06-17 14:22] wotwot563 commented on #126
github is handled by the frontend so this issue can be closes.

[2020-06-17 14:22] #126 closed

[2020-06-17 14:23] #123 closed

[2020-06-17 14:48] StijnGroenen commented on #47
This research is already on Google Drive.
Closing.

[2020-06-17 14:48] #47 closed

[2020-06-17 15:06] #185 closed

[2020-06-17 17:29] MaxKorlaar opened #200 "Docker Dev: Swagger authorization issuer URL doesn't work"
**Describe the bug**
The authorization URL in Swagger is set to `https://172.16.238.3/connect/authorize`, which does not respond on my computer.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the backend repo
2. Execute `docker-compose up`
3. Visit Swagger
4. Click 'Authorize'
![image](https://user-images.githubusercontent.com/8917249/84929809-a5d35c80-b0d0-11ea-9df0-aa9099caec43.png)

[2020-06-17 17:44] sentry-io[bot] opened #201 "Invalid redirect_uri: "https://api.dex.software/oauth2-redirect.html""
Sentry Issue: [IDENTITYSERVER-5](https://sentry.io/organizations/digital-excellence/issues/1715083776/?referrer=github_integration)

[code]

Redirect URI should probably go to API instead of Frontend since it's Swagger

[2020-06-17 18:29] #33 closed

[2020-06-17 19:59] RensNooren opened #202 "Search function is too extensive"
**Describe the bug**
Search for a single word on the Project Overview page. The words get filtered within entire texts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Project Overview
2. Search "Cat"
3. Get results which should not directly relate to "Cat"

**Screenshots**
https://files.slack.com/files-pri/T0A8LSYA2-F015LPVV65R/screencapture-dex-software-project-overview-2020-06-17-21

[2020-06-17 21:00] Brend-Smits commented on #202
In production you can see this 'dumb' search behavior: https://dex.software/project/overview?query=cat

[2020-06-18 10:43] MaxKorlaar opened #204 "Add display names or full names instead of FHICT names"
**Is your feature request related to a problem? Please describe.**
When you sign up with your FHICT account, your full name as shown in the FHICT is used, including your initials at the end, and your surname first.

**Describe the solution you'd like**
I'd like my name to be either changeable, an option for a custom display name or that my name is based on my first name + my surname, which the FHI

[2020-06-18 11:51] StijnGroenen opened #205 "The get highlights endpoint returns too much information"
**Describe the bug**
The [HighlightResourceResult](https://github.com/DigitalExcellence/dex-backend/blob/develop/API/Resources/HighlightResourceResult.cs) class returns the full project model instead of using a resource class. It also includes the start and end date of the highlight. In my opinion, these dates should not be returned (unless we actually want to show them in the front end).

**To Re

[2020-06-18 14:18] StijnGroenen opened #207 "Status code 404 should not be used for empty lists"
**Describe the bug**
Error code 404 should not be used when there is nothing to return when getting a list. The 400-499 range of HTTP status codes indicate a client error. When the list of highlights is empty, it is not a client error. When the request specifies a specific ID that does not exist. The 404 Not found status code is correct.
In my opinion, status code 200 (OK) with an empty array as t

[2020-06-19 07:14] RensvdLinden opened #210 "Open-id configuration on our environments"
Some of the records in the open-id configuration on our environment are http, these should be https.

[2020-06-19 09:18] #198 closed

[2020-06-19 12:03] #183 closed

[2020-06-19 12:14] #172 closed

[2020-06-19 12:39] Brend-Smits opened #213 "Editing your own project will save user email as Redacted"
**Describe the bug**
Editing and Saving your own project will result in your user email being overwritten with redacted

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
2. Edit the same project
3. Save the edit project form
4. Request /api/user endpoint to view your email

**Expected behavior**
Redacted not being saved in db, ever.

**Screenshots**
https://gyazo.com/074e679ce

[2020-06-19 13:44] #213 closed

[2020-06-19 17:25] RensvdLinden opened #216 "Redirect user automatically during log out"
**Describe the solution you'd like**
When logging out, the user should be automatically redirected to the frontend

**Additional context**
Now the user has to click on a hyperlink, it would be easier if the user get's redirected automatically

[2020-06-19 17:40] #210 closed

[2020-06-19 17:44] #216 closed

[2020-06-21 18:14] #9 closed

[2020-06-21 18:15] #67 closed

[2020-06-21 20:55] #128 closed

[2020-06-21 20:55] #201 closed

[2020-06-21 20:56] RensvdLinden commented on #200
Will look into this next week

[2020-06-21 20:56] RensvdLinden commented on #190
I will work on this during the holidays

[2020-06-21 20:56] RensvdLinden commented on #189
I will work on this during the holiday

[2020-08-17 15:29] Brend-Smits opened #217 "Add a Project Icon"
**Is your feature request related to a problem? Please describe.**
No way to add/update icon of a project

**Describe the solution you'd like**
The backend needs a way to save a project icon so the frontend can add this feature. We could save the icons in base64 or something similar. Need to do some research as to how to save these and future icons and how to transfer them using our API.

**Additi

[2020-08-17 15:34] Brend-Smits opened #218 "Add description for Highlights"
**Is your feature request related to a problem? Please describe.**
Descriptions from the project are being used to show in the highlight box, this also includes headers, images, and text that is not useful to show in highlights.

**Describe the solution you'd like**
Allow the addition of descriptions for highlights. This allows us to differentiate between normal descriptions and highlights.

**Add

[2020-08-17 15:48] Brend-Smits commented on #204
We've changed it to be first name + surname. In the future, we might look into making it changeable

[2020-08-17 15:48] #204 closed

[2020-08-18 21:12] #159 closed

[2020-09-04 12:59] niraymak opened #220 "Problem response can be more specific"
**Is your feature request related to a problem? Please describe.**
API controllers problem responses can be more specific.
For example: if you save try to save a highlight and forget to send in the description (which is required): 'Failed to save new highlight.' Response could be 'Description is required for highlight'.

**Describe the solution you'd like**
All controllers should send more specifi

[2020-09-08 08:08] Brend-Smits opened #221 "Setup bots for new DeX slack"
Github bots

[2020-09-09 08:13] Brend-Smits commented on #221
test comment 1

[2020-09-09 08:15] #221 closed

[2020-09-09 08:56] Brend-Smits commented on #163
I will be changing the guidelines to LF line endings. This makes life easier. I personally think it was a mistake to go with CLRF.

In case the .gitattributes will need updating, I will do this as well in the upcoming pull request.

[2020-09-10 08:38] Brend-Smits opened #222 "Research and implement Git pre-commit hooks"
To make certain aspects of the project easier to maintain and manage, we can implement commit hooks.
These hooks can be used to automatically format files, but also to add things like a license header to every file and make sure it's automatically updated. See this repository as an example: https://github.com/NitorCreations/license-maintainer

I'm sure there are other good use-cases for these hook

[2020-09-12 16:07] waltersajtos commented on #217
I'm currently working on the front-end part related to this issue. I did some research online and I can't find a way to send an image through json other than base64.

For the property name I think we just go with 'icon'?

[2020-09-12 16:41] Maxvanhattum commented on #217
Another option would be to just have another endpoint (put multipart/form-data) in the back-end where you process the image uploads, returning an ID. Allows more freedom in handling the image, easier debugging and reduced processing time. Then the ID is sent back to the client which then sends another request with the ID and other data, letting the server reassociate it with the uploaded picture.

[2020-09-14 07:22] Brend-Smits commented on #217
Does @rubenb994 and/or @niraymak have any opinion on this? Let's not reinvent the wheel and just research what other companies/apps/websites use for this exact feature. I'm sure there are some blogs/repo's publicly available

[2020-09-14 08:03] waltersajtos commented on #217
I think one big factor that we need to consider is how big will the files be? If we just plan on storing project/ profile icons we can get away with just storing 32x32/ 64x64/ 128x128? But say we want to implement bigger images (profile banners for example) the files would get a lot bigger. In that case, it probably makes more sense to store the files, whether it would be on the server or on some

[2020-09-14 08:11] niraymak commented on #217
I agree on what Walter says.

Also please note: I tried encoding an image using https://www.base64-image.de/ .  A .png 256x256 is encoded already 16336 characters. I have no experience with this but I doubt if we should store strings this big in the database.. (Also: base64 encoded can be up to 133% the original file size)

[2020-09-14 08:21] Maxvanhattum commented on #217
Maybe we should also consider if in some point of the future we are to support image/file uploads in other places too e.g. for in a project description. If so then a separate endpoint for image handling will be necessary anyways.

[2020-09-14 08:30] #163 closed

[2020-09-14 08:43] rubenb994 commented on #217
The way to go is without a doubt storing the images on the filesystem and NOT in the database. See the following StackOverflow post for more elaboration: https://softwareengineering.stackexchange.com/questions/150669/is-it-a-bad-practice-to-store-large-files-10-mb-in-a-database.

A separate endpoint should be implemented for uploading images. I would recommend keeping track of all images/files in

[2020-09-14 08:53] StijnGroenen commented on #217
I **strongly** agree with @rubenb994 that files should not be stored in the database (unless it's a file specific type of database like MongoDB's GridFS or something like S3 or Minio).
I recommend the approach that @Maxvanhattum and @rubenb994 suggested. So uploading the images (in binary form), storing them and than returning the ID. This ID can be stored in the database for each project.
There s

[2020-09-14 08:55] waltersajtos commented on #217
I agree with @rubenb994 too,

The only challenge this will bring is backing up the images.

[2020-09-14 08:56] rubenb994 commented on #217
I think the solution can be even more generic, why focus on images when it can be about processing all types of files. If I remember correctly eventually we also want to store .pdf and .doc files anyway.

[2020-09-14 08:59] Brend-Smits commented on #217
Thanks all for the discussion and contributions. Let's go with the approach of a single endpoint to upload files and storing a unique path for each file in our database.

Since files are stored on disk, we should be able to easily backup the files using our existing backup solutions. In the end, we're just going to have to back up an additional volume.
Once we scale up, we should be able to easily

[2020-09-14 09:02] StijnGroenen commented on #217
The solution should indeed be usable for all file types.

An object storage like S3 or Minio could be the solution for this. Most cloud provider already have an object storage product. (I believe Digital Excellence is hosted at OVH. They have an object storage product as well.) Most existing solutions have built-in backup options.

[2020-09-15 08:24] Brend-Smits commented on #207
The postman tests will also need to be changed accordingly.

[2020-09-15 08:28] Brend-Smits commented on #205
With the addition of #218 we only need to return the project id, highlight id, and description I think.

[2020-09-15 10:11] Brend-Smits opened #224 "[NEEDS MORE INFO]Deployment using assembly versions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-15 10:11] Brend-Smits opened #225 "[NEEDS MORE INFORMATION]Improve Swagger Documentation"
**Is your feature request related to a problem? Please describe.**
Lack of response codes, problem details etc

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-15 10:24] Brend-Smits opened #226 "[NEED MORE INFORMATION] Improve sentry.io setup"
There's various ways to improve our current Sentry integration and make it more useful diagnosing issues and errors.
Examples: Automatic release linking, automatic commit linking, alerts, Slack integration, improved integration with EntityFramework so it shows how much time each query takes, where it goes wrong etc.

[2020-09-15 15:39] Brend-Smits opened #227 "IdentityServer Management UI"
**Is your feature request related to a problem? Please describe.**
There is currently no way to update client credentials, users or roles on the fly.

**Describe the solution you'd like**
Set up a management user interface that allows us to easily manage roles, users and clients.

**Additional context**
Please don't reinvent the wheel, check out existing solutions online.
We use Identity Server 4

[2020-09-15 16:03] Brend-Smits opened #228 "Ability to follow Users"
**Is your feature request related to a problem? Please describe.**
There is no way to follow users. We want to implement the ability to follow users, projects, tags & categories.

**Describe the solution you'd like**
A registered user should be able to follow a certain user. We will most likely need a new table to comfort this change.

- A new endpoint to follow
- A new endpoint to unfollow
- Can'

[2020-09-15 16:39] Brend-Smits opened #229 "Ability to like projects"
**Is your feature request related to a problem? Please describe.**
There is no way to like projects. We want to implement the ability to like projects. This can be used for other systems like the recommendation algorithm or a filter based on most liked projects.

**Describe the solution you'd like**
A registered user should be able to like a certain project.

- A new endpoint to like a project
- A

[2020-09-15 16:51] Brend-Smits opened #230 "Setup a Notification System"
**Is your feature request related to a problem? Please describe.**
There is no way to interact with the community with notifications or emails.

**Describe the solution you'd like**
We want a notification system in which we can let a user know when the content they follow (like users, tags/categories/projects) update. We will use the email system to provide daily/weekly/monthly updates to users ba

[2020-09-16 05:38] aintabb commented on #229
Hi Brend, If it is okay, I would like work on this issue. This could be my first open-source contribution.
What do you think and also what i need to do? I am currently examining the doc and the project.

[2020-09-16 07:21] Maxvanhattum commented on #230
This could re-use the recommendation system I saw pass by earlier. Then add some extra logic to only recommend projects from the previous week and maybe allow room for "sponsored" recommended projects that everyone gets.
Could just set it up as logic in the back-end with a dedicated endpoint and configure a cronjob to call this weekly.
Sounds like a fun issue that I want to be involved in.

[2020-09-16 07:41] sentry-io[bot] opened #231 "System.Net.Mail.SmtpException: The SMTP server requires a secure connection or the client was not authenticated. The server resp..."
Sentry Issue: [IDENTITYSERVER-E](https://sentry.io/organizations/digital-excellence/issues/1870503441/?referrer=github_integration)

[code]

[2020-09-16 07:44] Brend-Smits commented on #231
Requires Hotfix for production, results in 500 internal server error when trying to register for the first time.

[2020-09-16 08:35] Brend-Smits commented on #231
Confirmed Fixed

[2020-09-16 08:35] #231 closed

[2020-09-16 08:55] Brend-Smits commented on #229
Hey @aintabb, sure thing! Welcome to DeX. I recommend starting out by reading through our Wiki and getting yourself familiar with that. Once you are set up, assign yourself to an issue and get developing. Open a Pull Request when you're finished so we can review it and provide feedback.
If there's no PR before the upcoming Monday, our team will have to pick it up though, we're on a schedule and wo

[2020-09-16 15:03] Brend-Smits opened #234 "Docker not working in dev environments"
**Describe the bug**
As per the 'Getting Started' guide, Docker can be used to run the API/DB/IdentityServer. However, since the addition of Persistence Storage in the Identity Server we also need to reflect this change in the docker-compose.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and run the backend with docker-compose

**Expected behavior**
Working backend IDS, API and DB.

[2020-09-16 17:59] aintabb commented on #229
Sounds perfect! Thanks a lot.

[2020-09-17 04:09] aintabb commented on #229
Couple questions:
- I am using Ubuntu. Would it be a problem?
- If not, I have managed run docker images and can see the api is running through SwaggerUI but i cannot authorize. When I click authorize, my browser showing me "This site can’t be reached" message.

[2020-09-17 07:14] StijnGroenen commented on #229
I used to work on Digital Excellence using an Ubuntu based distro as well (Pop_OS!). It works fine with some additional setup. Using the Docker development environment it should be very easy though.
Have you seen the Getting Started guide? https://github.com/DigitalExcellence/dex-backend/wiki/Getting-Started
I don't know if it is still accurate, but it could help.

I believe there is a Slack works

[2020-09-17 07:31] aintabb commented on #229
Hi @StijnGroenen ,
Yeah, I was following the “Getting Started” guide and it seems the docker image is working well.
I think the problem might be related with database. Since I am using Ubuntu, I couldn’t use SQL Server Studio.
So how I can i connect to database? I am using a built-in database explorer and trying to figure out what should be the connecting string or url?

[2020-09-17 07:50] Brend-Smits commented on #229
As Stijn mentioned, Ubuntu should work fine. Especially when running on Docker. But if you're using Rider, everything should work fine as well after you install MSSQL manually.

The docker development image is a little broken, read more about the fix here #235 . I hope to have it merged today/tomorrow. Nonetheless, you can copy the current changes into your current branch and atleast have the Iden

[2020-09-17 10:08] #218 closed

[2020-09-17 10:17] Brend-Smits commented on #226
To do:
- Automatic release linking
- Automatic commit linking
- Improved Entity Framework integration

You'll need to link your Github account with Sentry using this link: https://sentry.io/organizations/digital-excellence/issues/
In case you will need evaluated permissions, contact me.

[2020-09-17 10:53] Brend-Smits commented on #189
Postman Tests should be executed in the pipeline; we need to set up a temporary backend in Github Actions, then the postman tests (which will also be executed in the same Github Actions environment) can use "localhost" to communicate with the backend.
A separate environment will need to be created in Postman to accommodate this change.

[2020-09-17 10:58] Brend-Smits commented on #200
This is still an issue, anyone is free to take a look and fix this.

[2020-09-17 10:58] Brend-Smits commented on #124
@StijnGroenen this can be closed right?

[2020-09-17 11:01] Brend-Smits commented on #77
I'm gonna block this issue until I have some more insights on how we want to handle project deletion

[2020-09-17 11:15] Brend-Smits commented on #77
When making a request to delete your data, we should probably add a wizard in the frontend that will show all the projects that the user owns, and ask for each project individually:
- If they want to remove it completely.
- If they want to transfer it to some other user from the list.

I'm not sure if we also have to remove the user from each project that they are tagged in as a collaborator, perh

[2020-09-17 11:46] Brend-Smits opened #236 "Register DeX at Fontys"
We're reaching a point where we need legal advice and help from a data officer. The first step is to register DeX as an official project at the Fontys portal.

[2020-09-17 11:48] Brend-Smits opened #237 "Schedule a meeting with Data officer"
Schedule a meeting with the data officer at Fontys to ask about things like GDPR and hosting. @kall0m should join as well.

[2020-09-17 11:58] Brend-Smits opened #238 "Use SurfConext so that other universities can also login"
**Is your feature request related to a problem? Please describe.**
We want Digital Excellence to grow beyond just Fontys. Other universities currently are unable to login and interact with the platform.

**Describe the solution you'd like**
Set up talks with Fontys II&A to discuss our ambitions and to see what we can do right now to implement SurfConext. We contacted them earlier and according to

[2020-09-17 12:31] Brend-Smits opened #239 "Research: Designing a plugin-like system for Wizards"
**Is your feature request related to a problem? Please describe.**
Wizards are going to be a big part of the DeX platform. We don't want to have to redesign the whole system when a new different source is requested.

**Describe the solution you'd like**
We should research how existing applications implement this and solve this issue. Example applications are Microsoft Teams (apps), but also Canvas

[2020-09-17 21:38] aintabb commented on #229
Got it. Thanks. I will keep you guys updated.

[2020-09-18 06:10] aintabb commented on #229
@Brend-Smits @StijnGroenen FYI, Now everything works well. Thanks for the guidance.
I was able to send a request to the API and get the result.
Because of the time zone differences, i am responding your messages late. I live in Los Angeles.
I am gonna speed up and work on the issue now and again will keep you updated.

[2020-09-18 08:24] Ruby77 commented on #225
Should the consume type also be set to JSON?

[2020-09-18 12:20] StijnGroenen commented on #124
At the moment the SourceManagerService returns null when the URI does not match a GitLab URL. (See https://github.com/DigitalExcellence/dex-backend/blob/develop/Services/Services/SourceManagerService.cs)
If the URI is an URL, it should make a get request to retrieve metadata about the URL.
This feature is not yet implemented (or at least not merged into develop).

[2020-09-18 12:34] StijnGroenen commented on #229
I used Rider as my IDE. Before we had the Docker development environment, I had to install SQLServer. I also had to change the connection string since LocalDb did not work on my device. All of those things should not be necessary anymore if you get the Docker development environment working.

Great to hear!

[2020-09-18 18:14] Brend-Smits commented on #124
Could you update this issue to be more clear so anyone can puck it up? (Even new DeX members)
Thanks for the follow-up!

[2020-09-21 07:48] Maxvanhattum commented on #230
I did a bit more research in to this. I suggest just making a stand-alone notification handler, which can recieve contents and the notification type, handling the data and passing it along to another class that handles the method of sending.
If designed correctly it would easily allow other systems to utilize the notification system.
Moreover this way we could not only use it for sending emails, b

[2020-09-21 12:59] StijnGroenen commented on #124
I added some more details to the description of this issue. It should be more clear now.

[2020-09-21 16:16] Brend-Smits commented on #124
Thanks, anyone can take on this issue now!

[2020-09-21 16:22] Brend-Smits opened #242 "Research: Investigate best way to send emails / what provider to use"
**Is your feature request related to a problem? Please describe.**
We want to send emails, but preferably don't want our own email server (managing email reputation is tricky and too time consuming).

**Describe the solution you'd like**
A research conducted to learn what email providers there are, what they offer in terms of feature, what their pricing is(preferably free) and if they have integra

[2020-09-22 10:36] Brend-Smits commented on #236
Done

[2020-09-22 10:36] #236 closed

[2020-09-22 10:48] Brend-Smits commented on #207
This one I really want to get done during this sprint. Anyone that wants to fix this from @DigitalExcellence/backend ?

[2020-09-23 09:10] #234 closed

[2020-09-23 10:34] Brend-Smits opened #243 "Research: Do we need Audit Logging for our applications?"
**Is your feature request related to a problem? Please describe.**
Audit Logging can be important in an application. Both for security and debugging.

**Describe the solution you'd like**
Investigate what the benefits are of audit logging, what the drawbacks are.
Investigate what kind of audit logging there is.
Investigate what we could and what we should log for our use case.
Investigate what the

[2020-09-23 11:05] Brend-Smits opened #244 "Update IdentityServer from version 3.1.0.0 to 4.X.X"
There's a new major version release of IdentityServer, we should update when possible.
This new version will have some breaking changes, we have to investigate to see what implications are for DeX.

[2020-09-23 13:59] Brend-Smits opened #246 "Refresh Token frontend not working"
**Describe the bug**
Full issue description here: https://github.com/DigitalExcellence/dex-frontend/issues/253
Implict flow needs to be replaced with auth code flow + pkce. silent-refresh url also needs to be added to all configs and env files.

**Additional context**
Add any other context about the problem here.

[2020-09-28 20:29] #246 closed

[2020-09-29 07:24] #220 closed

[2020-09-29 07:53] Brend-Smits opened #249 "Research & Design: Ability to only show project/ideas to my own school"
**Is your feature request related to a problem? Please describe.**
Certain projects/ideas are limited to a specific institution. A reason can be that they are only relevant to that institution or that they are not allowed to be shared outside of the institution.

**Describe the solution you'd like**
When a user logs in we know what school/district they come from. Maybe we need to save this informa

[2020-09-29 08:12] Brend-Smits opened #250 "Research - Create a request for Hosting - Be specific what is needed and what is expected"
**Is your feature request related to a problem? Please describe.**
We need Fontys to pay for hosting as soon as possible. Fontys wants to know what to expect for hosting, why others are not sufficient, and what has been tried.

**Describe the solution you'd like**
We already have a simple, and small research regarding hosting and what is needed. This needs updating and cleaning up. Also needs upda

[2020-10-02 07:31] waltersajtos commented on #242
The research can be found [here](https://docs.google.com/document/d/1Sp3q3SjBT2Xd4U_nws0aDvIgv9Mb75mAJ5rGRkp9tC0/edit)

[2020-10-02 09:30] Maxvanhattum opened #253 "Research message broker"
**Is your feature request related to a problem? Please describe.**
To get the notification system up and running a messagebroker is going to be needed which load balances and keeps track of data. For this research is needed

**Describe the solution you'd like**
A research report is needed which describes what the messagebroker needs to be able to do, compares different messagebrokers and ultimatel

[2020-10-02 09:35] Maxvanhattum opened #254 "Researching notification background service"
**Is your feature request related to a problem? Please describe.**
We need research on how a notification background service should be set up that repeatedly approaches the messagebroker, handles this data and ultimately sends this data out through the specified way of notifying, eg a mailservice API or in the future push notification service.

**Describe the solution you'd like**
There needs to b

[2020-10-02 09:44] Maxvanhattum opened #255 "Designing the notification system"
**Is your feature request related to a problem? Please describe.**
The notification system needs to be designed and worked out so that it fits into the current design document.

**Describe the solution you'd like**
The design needs to entail the new endpoints, back-end logic, database tables/columns, messagebroker, background service and email service API. The current design document needs to be u

[2020-10-02 09:53] Maxvanhattum opened #256 "Implementing notification system"
**Is your feature request related to a problem? Please describe.**
A notification systeem needs to be implemented, according to the designs. It needs to be able to track which users need to be notified for whatever notification that has to be send out, eg a new project from a user they follow, newsletter, GDPR updates etc. Moreover it needs to be able to send these notifications through different

[2020-10-02 10:08] RensvdLinden opened #257 "Convert Backup script to Docker container"
**Is your feature request related to a problem? Please describe.**
The backups of the db are now pushed to OVH Cloud through a script, which is ran through a cron job. It's better to throw this in a docker container, which can be added to the docker-compose, so migrating becomes easier.

**Describe the solution you'd like**
Create a Docker container that's responsible for the OVH Cloud backups of

[2020-10-06 08:23] matir8 commented on #189
There's an issue with the certificates set up on the development docker environment. The same problem as #200. The API and the Identity server can't establish HTTPS connection which leads to an authentication error.

[2020-10-06 08:27] #237 closed

[2020-10-07 18:37] #205 closed

[2020-10-09 09:46] #207 closed

[2020-10-09 12:17] niraymak opened #263 "Configure backup for uploaded files"
**Is your feature request related to a problem? Please describe.**
When issue : https://github.com/DigitalExcellence/dex-backend/issues/217 is closed and merged we should do some research about backupping the files that are uploaded.

**Describe the solution you'd like**
Files uploaded in production on OVH environment are back-upped.

**Additional context**

[2020-10-09 19:12] aintabb commented on #257
How about me picking this up? @Brend-Smits @RensvdLinden

[2020-10-11 15:05] Brend-Smits commented on #257
@aintabb Awesome to see that you're willing to pick it up, sadly this is reserved for @elmiratjee so she can learn the infrastructure as part of her education.

In general, things that require backend access (access to physical servers), are off-limits for outside collaborators. I will be creating new issues today/tomorrow.

[2020-10-11 15:07] #53 closed

[2020-10-11 15:30] Brend-Smits opened #265 "Data officer role & permissions"
**Is your feature request related to a problem? Please describe.**
Data officers from Fontys (and probably other schools) want to be able to remove student data if a request has been received at the school. They need to be able to remove and request data from other students themselves. This should only be possible for their own institution.

**Describe the solution you'd like**
A role that we can

[2020-10-11 15:32] Brend-Smits opened #266 "Documentation: Access Level Control"
**Is your feature request related to a problem? Please describe.**
It is not clear what roles (should) have access to what permissions.

**Describe the solution you'd like**
Create a wiki entry and document all the different roles and scopes and explain what it has access to. It should be kept simple and clean so it's easy to maintain.

[2020-10-11 15:35] Brend-Smits opened #267 "Data Officer wants to request data and remove data (interface)"
**Is your feature request related to a problem? Please describe.**
When #265 is implemented, we still need a simple interface that the data officer can use to request and remove student data.

**Describe the solution you'd like**
When #227 is implemented (meaning it's blocked until then), we should extend the panel and add this interface for the data officers to use.

**Additional context**
There

[2020-10-11 15:36] Brend-Smits commented on #227
This issue is also blocking #267

[2020-10-11 15:38] Brend-Smits commented on #243
I think audit logging is required for issues like #267

[2020-10-11 15:39] #64 closed

[2020-10-11 15:53] Brend-Smits opened #268 "Design: User portfolio system"
**Is your feature request related to a problem? Please describe.**
As a user I want to create, customize and setup my personal portfolio.

**Describe the solution you'd like**
Design a system where users can create, customize, and delete portfolio items.
By default portfolio items will include:
- Projects you added to the platform
- Basic profile information
But users should also be able to link t

[2020-10-11 15:54] Brend-Smits commented on #268
I would highly prefer it if people worked together on this issue. It's crucial that this is designed properly.

[2020-10-11 16:00] Brend-Smits opened #269 "Research: Student Graduation detection"
**Is your feature request related to a problem? Please describe.**
Students graduate... Some may still want to be active on the platform afterward. Currently, they will no longer be able to log in when their institution account gets deactivated.

**Describe the solution you'd like**
Research how we can determine when a student is graduating, based on this we can notify them by email or something a

[2020-10-11 16:39] Brend-Smits opened #270 "Seed a user that we can use to manually add projects"
**Is your feature request related to a problem? Please describe.**
Frontend needs a user that they can use to add projects: https://github.com/DigitalExcellence/dex-frontend/issues/307

**Describe the solution you'd like**
Create a new user called "DeX User" with a randomly generated password, add this password to 1password (or PM me and I will do it)

[2020-10-11 16:56] Brend-Smits commented on #149
I'm still not sure if we should make project source uri's unique or start with showing a message. I want to see what we can do about this in the upcoming sprint though.
I've contacted Wilrik about this.

[2020-10-11 16:56] Brend-Smits commented on #77
@wotwot563 how's this going? I moved it to Sprint 6 board.

[2020-10-11 16:59] Brend-Smits commented on #46
When #227 is implemented, we could create some kind of role for Delta students. We could then show a checkbox for users with the Delta role, asking them if they also want this project published on the Delta website.
That's the only way I see this implementation working. The Delta website can then use our API to request all delta projects and update/add/delete them on their end. @MaxKorlaar thought

[2020-10-11 18:27] aintabb commented on #257
@aintabb No worries! Thanks for the clarification. Good luck @elmiratjee

[2020-10-12 07:17] niraymak opened #271 "Delete old icon after updating / deleting project"
**Is your feature request related to a problem? Please describe.**
When PR https://github.com/DigitalExcellence/dex-backend/pull/241 is merged the following should be implemented.
Old files should be deleted after updating new project icon or deleting a project.

**Describe the solution you'd like**
If Project Icon is being updated in ProjectController at endpoint UpdateProject the old project ico

[2020-10-12 08:08] niraymak opened #272 "MaxFileSize / AllowedExtension annotations refactor"
**Is your feature request related to a problem? Please describe.**
When PR https://github.com/DigitalExcellence/dex-backend/pull/241 is merged the following should be implemented.
Currenty in the FileResource MaxFileSize (2MB) and AllowedExtensions (.jpeg, .png, .jpg) are hardcoded. This is fine for uploading images but in the future we may be also uploading different files. It would be better to

[2020-10-12 08:41] niraymak opened #273 "Research: Security on storing files"
**Is your feature request related to a problem? Please describe.**
There was no research done for the current implementation of the fileuploader. Currently only project icons are stored. These project icons are currently accessible for everyone but in the future files may be stored which are sensitive. Therefore we should do some research if the implemented feature is safe. Uploading files may als

[2020-10-12 09:19] niraymak opened #274 "Research: Methods for making recommendations"
**Is your feature request related to a problem? Please describe.**
The following questions will be answered for this research:
1. “What methods are there for making recommendations?”
2. “How do these methods work?”
3. “What are the advantages and disadvantages for each method?”

**Describe the solution you'd like**
The above mentioned questions are answered (following DOT framework guidelines) and

[2020-10-12 11:06] niraymak opened #275 "Research: tooling for recommendation system"
**Is your feature request related to a problem? Please describe.**
To implement a suitable recommendation system it is useful to answer the following questions:
“What tools can contribute to the implementation of a project recommendation system?”
“What can the tools contribute?”
“What are the advantages and disadvantages of this tool against an own implementation?”

**Describe the solution you'd l

[2020-10-12 11:09] niraymak opened #276 "Research: find other research for recommendation system"
**Is your feature request related to a problem? Please describe.**
To implement a suitable recommendation system it could be useful to answer the following questions:
“Did other companies do similar research?”
"If yes, what were their conclusions and what can their conclusion contribute to an implementation of DeX?”

**Describe the solution you'd like**
The above mentioned questions are answered (

[2020-10-12 11:27] niraymak opened #277 "Research: what data should be used for recommending"
**Is your feature request related to a problem? Please describe.**
To find out what data we should use for the recommendation system we could answer the following questions.
“What data is already stored which can be used to implement a recommendation system?”
“What data has added value for implementing a recommendation system for DeX?”

Does anyone have experience with a similar kind of research?

[2020-10-12 12:31] niraymak opened #279 "Research: GPDR guidelines for recommendation system"
**Is your feature request related to a problem? Please describe.**
It is important that we follow the GDPR guidelines. Because the recommendation system will gather a lot of data about the user it is wise to consult Fontys data officer about a chosen implementation.

We should ask the data officer after deciding what implementation we will make.

**Describe the solution you'd like**
After choosing

[2020-10-12 12:38] niraymak opened #280 "Research: expandability recommendation system"
**Is your feature request related to a problem? Please describe.**
It is important that chosen solution is expandable. The following questions should help finding a solution which is expandable.

“How can the chosen implementation be scalable and expandable?”
“What type database is best for a recommendation system?”
“If the current database is not the best, is it worth changing?”

**Describe the s

[2020-10-13 09:25] Brend-Smits opened #281 "Project can be visible to only one or multiple institutions"
**Is your feature request related to a problem? Please describe.**
The current implementation for private projects only allows projects to be private for a single institution.

**Describe the solution you'd like**
We would like to implement it in a way so that multiple institutions can be linked to a project and only those linked institutions can see the project.

**Additional context**
Fontys and

[2020-10-15 11:13] Ruby77 commented on #242
The final version of the research can be found [here](https://docs.google.com/document/d/1Sp3q3SjBT2Xd4U_nws0aDvIgv9Mb75mAJ5rGRkp9tC0/edit).

The conclusion of this research is to use Sendgrid. You can work easily with this provider, integration is also easy and they have a good reputation. For the free version, you can send 100 emails per day completely free. So make sure there is a good distribu

[2020-10-15 11:13] #242 closed

[2020-10-15 12:14] waltersajtos commented on #266
I created a [wiki page](https://github.com/DigitalExcellence/dex-backend/wiki/Permissions)

[2020-10-15 14:19] #266 closed

[2020-10-16 08:35] #200 closed

[2020-10-16 09:13] #202 closed

[2020-10-19 09:52] Brend-Smits commented on #244
Breaking change is: https://github.com/IdentityServer/IdentityServer4/issues/4535

[2020-10-26 10:28] jcoenen96 commented on #207
This actually has to be 404 and not 204. This has been discussed multiple times last semester. This has to do that it is an API and not a website.

[2020-10-26 10:30] Brend-Smits commented on #207
Yes, it was also discussed that it was not practical to enforce this.

[2020-10-26 10:33] jcoenen96 commented on #207
Then update the issue that this has been discussed. Currently, the issue indicates that the protocol has been implemented incorrectly which is not true. I can't know when something has been discussed when it isn't described in the issue.

[2020-10-26 15:09] #189 closed

[2020-10-27 09:39] Maxvanhattum commented on #253
@Brend-Smits https://drive.google.com/file/d/1C1L6Cs5hQu7KXpJAJt9Clwq0TdHFisoG/view?usp=sharing

[2020-10-27 09:52] niraymak commented on #269
https://docs.google.com/document/d/1YVOhW3eA59eH52cCVTfA9HxJZKebTR9fr_Ehqbuzbe8/edit?usp=sharing

[2020-10-27 09:52] DaveBouman opened #286 "Implementing Getting Started for Postman"
**Is your feature request related to a problem? Please describe.**
Implementing postman tests and the environment for the first time can be confusing.

**Describe the solution you'd like**
Make a Getting started guide on how to implement the postman tests and the environment

[2020-10-27 09:55] #269 closed

[2020-10-27 09:58] MeesvanStraten opened #287 "Feature User Graduation System"
**Is your feature request related to a problem? Please describe.**
Create a system to track when a user/ student graduates. This system should convert / create a new account with status alumni.
This alumni role will be a seperate issue. The implementation is done after the research is completed (issue #269)

This issue will implement the cmd application responsible for communicating with the api a

[2020-10-27 10:10] niraymak opened #288 "Graduation System Alumni Role"
**Is your feature request related to a problem? Please describe.**
A research #269 was done on how we can implement a graduation system.

For the graduation system it is required to create a new role called "Alumni" which is meant for students who are graduated.
We seperated this issue from the console application #287 to avoid one large pull request.

This issue will be picked up after #287 is fi

[2020-10-28 14:07] #270 closed

[2020-10-30 09:21] Brend-Smits opened #291 "Show a badge or banner if the external url is not accessible/offline (Build a crawler)"
**Is your feature request related to a problem? Please describe.**
Some external URL's might not be accessible for whatever reason, they can be hidden for the public, require authentication or some other reason. For users visiting the platform it might be very confusing.

**Describe the solution you'd like**
We can crawl the given URI and see if it's accessible. Depending on the result we can show

[2020-10-30 09:30] Brend-Smits commented on #253
LGTM! Feedback for next time:
- Add a Management Summary

Please create issues if needed based on your conclusions.

[2020-10-30 13:17] Yuqera commented on #249
This is the first recommendation I have for the private institute project.
[private-institute-projects.docx](https://github.com/DigitalExcellence/dex-backend/files/5465312/private-institute-projects.docx)

[2020-10-30 15:27] Brend-Smits commented on #249
Please create a Google Docs file @Yuqera so users can give feedback. Using Google Docs is our standard.

[2020-11-02 10:30] Maxvanhattum commented on #254
We are just going to use .NET Core application

[2020-11-02 10:30] #254 closed

[2020-11-02 12:56] Maxvanhattum commented on #255
@Brend-Smits @MeesvanStraten
Please review :) https://drive.google.com/file/d/10iH2Z80MzR3aLKWOcGFo6Hj8Es3szzJQ/view?usp=sharing

[2020-11-02 14:13] Yuqera commented on #249
@Brend-Smits here is the Google Docs file so I can receive feedback. https://drive.google.com/file/d/1GyYE5gMA5mgk2rm4sKewP-4Y9JECb5pP/view?usp=sharing

[2020-11-03 09:21] #253 closed

[2020-11-03 10:02] DaveBouman commented on #268
Walter and I talked about the best way to implement the portfolio system. We made a document in which we described the best solution. https://docs.google.com/document/d/1Mn9V-PEDcCH6LsAMN2EKRk22hnr-xfZyK9teUGETArU

[2020-11-03 11:47] Yuqera commented on #249
@Brend-Smits Here is the document in Google Docs https://drive.google.com/file/d/1GyYE5gMA5mgk2rm4sKewP-4Y9JECb5pP/view?usp=sharing

[2020-11-03 19:52] #217 closed

[2020-11-04 10:17] Ruby77 opened #295 "On user sign up, the institution should be linked"
**Is your feature request related to a problem? Please describe.**
After implementing the data officer issue (https://github.com/DigitalExcellence/dex-backend/issues/265), institutions can be added to users. However, this still doesn't happen for users. Whenever a new user signs up, it should check if the institution is already added to the DeX system. If it's already added, then the user should b

[2020-11-04 11:15] #265 closed

[2020-11-04 19:35] #228 closed

[2020-11-05 12:14] Brend-Smits opened #296 "Highlights not returning start and end date"
**Describe the bug**
Highlights are not returning start and end date

**To Reproduce**
Steps to reproduce the behavior:
1. Call Highlight API
2. Check response
3. No start/end date wil be shown

**Expected behavior**
Frontend needs this information.

[2020-11-05 12:40] #296 closed

[2020-11-06 09:04] Brend-Smits opened #298 "Project Icon not loading on production"
**Describe the bug**
Project Icons / Files are not loading on staging after uploading a new project icon. This is likely because of using the wrong paths (windows style vs Linux).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging.dex.software.
2. Create a project and upload a file
3. Navigate to the project and see 404 on image.

**Expected behavior**
Working project icon

**Scre

[2020-11-06 09:36] #257 closed

[2020-11-06 10:06] niraymak opened #299 "Wiki: Postman instructions"
**Is your feature request related to a problem? Please describe.**
Currently it is not clear how Postman testing works for DeX. We should update the Wiki so we can refer to that if there is any questions about Postman.

**Describe the solution you'd like**
A Wiki page with extensive explanation of how Postman testing works within DeX.

**Additional context**

[2020-11-09 07:10] Brend-Smits commented on #249
The file is not in our drive and thus I can't access it. Put it in the Digital Excellence Drive.

[2020-11-09 07:57] Brend-Smits commented on #238
After discussing this with our stakeholders, we decided to not work on this issue at this moment. The time spent on getting everything in order with governance is not currently worth the investment, seeing as I'm already short on time.

Our technical implementation is ready to plug-in the client id/secrets from Surf. The only thing we need to take care of is migrating to a Fontys approved hosting

[2020-11-09 07:57] #238 closed

[2020-11-09 08:58] Brend-Smits commented on #249
I've provided feedback in the document. I don't think it's finished yet, I've added it to Sprint 7.

[2020-11-09 09:02] Brend-Smits commented on #295
This can be done in the same way the user is currently added to the backend in the identity server. When the user logs in you can make a request to the API to add an institution. The provider name/id can be used. This provider is retrieved from the Identity Server (each provider has a unique id and returns a provider name as well).

[2020-11-09 09:48] elmiratjee opened #302 "Docker compose server/repo"
**Is your feature request related to a problem? Please describe.**
Currently, the docker-compose in the repo is out of date. Which means they are not the same from the staging & production.

**Describe the solution you'd like**
The docker-compose files in the repo to match with the ones on the servers.

[2020-11-09 14:50] niraymak commented on #276
https://docs.google.com/document/d/1HN1tIJ4NWAjBkioHCqQFi3U5KtSLlqp0IGmSa9tCDPI/edit?usp=sharing

[2020-11-09 14:50] #276 closed

[2020-11-09 14:51] niraymak commented on #274
https://docs.google.com/document/d/1aoikzcYztSJPZX1r6Jc0TdBH8afbGSutxBo5uZ18OpA/edit?usp=sharing

[2020-11-09 14:51] #274 closed

[2020-11-09 14:51] niraymak commented on #275
https://docs.google.com/document/d/1zp8BL5G6pvrBf_WLU5MB8bVqNMbwzxP-ozAZi3FSNSs/edit?usp=sharing

[2020-11-09 17:12] Brend-Smits opened #303 "Webhook system"
**Is your feature request related to a problem? Please describe.**
There are many applications inside and outside of Fontys that want to connect with DeX.  We cannot build specific implementations and integrations for these requests. There needs to be a general solution.

**Describe the solution you'd like**
A webhook system allows applications to listen to certain events like project creation, pr

[2020-11-10 11:20] Brend-Smits commented on #255
The C4 design looks great, please update it on the wiki as well so everything is in sync.
Let's move on to implementation! Good job 👍🏼

[2020-11-10 14:37] Brend-Smits opened #307 "Searching does not include project icon"
**Describe the bug**
When using the project search function, the project icons are not included.

**To Reproduce**
Steps to reproduce the behavior:
1. Go https://dex.software/project/overview
2. Search for "Nudge" or "nudging"
3. See that icon is missing

**Expected behavior**
Icon should be included in the search results

**Screenshots**
![image](https://user-images.githubusercontent.com/15904543

[2020-11-11 11:58] waltersajtos commented on #299
Topic that were unclear to me:

- [ ] Postman environments (import again after every merge, save manually)
- [ ] Postman collections (import again after every merge, save manually, replace file urls)
- [ ] Don't re-use variables (explain how to add new ones)

[2020-11-11 22:04] Yuqera commented on #249
@Brend-Smits I've processed your feedback if you could please take another look when you're available.

[2020-11-12 09:52] niraymak commented on #298
mentioned isssue was fixed in pull request below

https://github.com/DigitalExcellence/dex-backend/pull/300

[2020-11-12 09:52] #298 closed

[2020-11-12 10:17] niraymak opened #304 "Refactor Postman CLI file"
**Describe the bug**
A temporary workaround file (for local Postman testing) was placed in the root directory of the repository.
Of course this file belongs in the Postman folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository
2. Run runtests_windows.bat in root folder / run runtests_windows.bat in Postman folder

**Expected behavior**
The file in the Postman folder does no

[2020-11-13 09:31] Brend-Smits commented on #299
https://github.com/DigitalExcellence/dex-backend/wiki/Postman-guide

[2020-11-13 10:38] Brend-Smits commented on #249
I provided additional feedback :)

[2020-11-13 11:41] Yuqera commented on #249
I've processed the additional feedback!

[2020-11-16 15:01] niraymak opened #306 "Link DeX database to Elastic database"
**Is your feature request related to a problem? Please describe.**
ElasticSearch works with an non relational database.

**Describe the solution you'd like**
A way to clone the necessary data from our existing relational database into a non relational ElasticSearch shadow database.

**Additional context**
Setup of local ELK stack can be found in the link beneath :

https://github.com/DigitalExcell

[2020-11-16 18:26] #286 closed

[2020-11-16 18:28] waltersajtos commented on #286
Already fixed by #299

[2020-11-19 10:26] #304 closed

[2020-11-19 10:45] #299 closed

[2020-11-19 11:10] #271 closed

[2020-11-19 11:31] Brend-Smits commented on #239
We should look into picking this up as a group and design a system for this @DigitalExcellence/backend

[2020-11-19 11:32] niraymak commented on #288
This issue is started but is dependent on issue #256

Blocked till mentioned issue is finished.

[2020-11-19 11:32] niraymak commented on #287
This issue is started but is dependent on issue #256

Blocked till mentioned issue is finished.

[2020-11-19 11:49] niraymak commented on #256
Issue will be implemented as mentioned in the research below.
https://drive.google.com/file/d/1C1L6Cs5hQu7KXpJAJt9Clwq0TdHFisoG/view?usp=sharing

[2020-11-19 11:50] niraymak commented on #255
Research and documentation will be updated during implementation.

[2020-11-19 11:57] niraymak commented on #224
Sentry will automatically pickup assembly version from properties of project.
Assembly version can be pushed into build by using the format underneath for dotnet.
`dotnet build /p:AssemblyVersion=1.2.3.4`

For now this issue will be blocked because we will be switching hosting environment.
Issue will be picked up after switching from hosting. Issue #250

[2020-11-19 12:20] Brend-Smits commented on #267
Closed in favor of https://github.com/DigitalExcellence/dex-frontend/issues/358

[2020-11-19 12:20] #267 closed

[2020-11-19 12:21] Brend-Smits commented on #227
Closed in favor of https://github.com/DigitalExcellence/dex-frontend/issues/358
We decided we do not need to manage clients/users, we can just do it using the identityconfig and deploy a new version. The impact of implementing a UI like this is pretty big, it restricts updating freely and is quite a large operation.

[2020-11-19 12:21] #227 closed

[2020-11-20 10:41] Yuqera opened #310 "Feature Institute private projects"
**Is your feature request related to a problem? Please describe.**
While using the DeX platform, all the projects I create will be public to see for everyone. I cannot publish my projects only for my institute and I cannot see the projects created by others from my institute.

**Describe the solution you'd like**
When logging into DeX your institute gets saved to your account. Please reference the

[2020-11-24 09:10] #307 closed

[2020-11-24 10:17] Ruby77 opened #312 "Add "Call-to-Action" to the backend"
**Is your feature request related to a problem? Please describe.**
Currently, the front-end created an implementation for the Call-to-Action issue. Unfortunately, this issue also needs to connect to the backend and in the back-end, there is no implementation yet, and so, it blocks the issue from merging.

**Describe the solution you'd like**
A project also needs to store a possible existing call t

[2020-11-24 10:25] Brend-Smits opened #313 "Endpoint - Get own projects"
**Is your feature request related to a problem? Please describe.**
There is no way for an authorized user to retrieve their own projects.

**Describe the solution you'd like**
Create a new endpoint that allows a user to retrieve the projects they created.

**Additional context**
This will be used in the profile overview / settings.

[2020-11-24 11:58] niraymak commented on #239
We agreed on a general architecture and will start working on 2 implementation. We will discuss these implementations later this week to make sure the architecture is right and will work for multiple implementations.

Ruben and Dave will work on Github implementation.
For Github implementation it is required to use oauth flow to see private repositories.

Niray and Mees will work on JSFiddle imple

[2020-11-24 14:08] niraymak commented on #239
Documentation related to this project can be found in the link beneath:
https://docs.google.com/document/d/1P6SJc6jy4Xi4XOfpW0R7o9nMidDFWA5z5aXkzCt1g1c/edit?usp=sharing

[2020-11-24 17:00] #295 closed

[2020-11-25 13:58] niraymak commented on #306
Planned for sprint 8.

Options yet found:
- Possibly we could use RabbitMQ to keep the ELK data the same as our MSSQL database. This requires some further research.
- Use logstash and JDBC driver to update the ELK data on scheduled base.

[2020-11-25 14:26] niraymak opened #314 "Proof of concept ElasticSearch"
**Is your feature request related to a problem? Please describe.**
To recommend projects to our users we want to setup a proof of concept in ElasticSearch.

More information about the setup can be found in the link beneath:
https://github.com/DigitalExcellence/dex-backend/wiki/ELK-stack-installation-guide

We will start with collaborative filtering as implementing "tags" to projects is not planned

[2020-11-25 15:32] Ruby77 commented on #312
I will create the functionality to manage the default names for the call to action. Which roles should be able to do this @Brend-Smits ?

[2020-11-25 15:34] Brend-Smits commented on #312
Administrator @Ruby77

[2020-11-27 10:09] waltersajtos commented on #149
I'm going to pick this up. I will try to implement the message/ alert first if 2 projects look similair.

[2020-11-27 13:22] DaveBouman opened #315 "Implementing Portfolio system"
**Is your feature request related to a problem? Please describe.**
a portfoliosystem needs to be implemented, according to the [designs](https://github.com/DigitalExcellence/dex-backend/issues/268).

**Describe the solution you'd like**
The designs previously come up with need to be implemented. This entails new endpoints, additional or modified entities, new logic to handle user portfolios and po

[2020-11-28 10:52] Ruby77 commented on #312
@Brend-Smits but all the roles should have the read scope for reading the options, right? Just to make sure 😄!

[2020-11-29 16:20] Brend-Smits opened #316 "Staging deployment should happen when pushing code to release/XXX branches"
**Is your feature request related to a problem? Please describe.**
Release testing is difficult if you want to test new fixes on the release branch, because the staging environment is updated by the base branch and not your release branch.

**Describe the solution you'd like**
Make release testing easier by redeploying the staging environment every time new code is pushed to a release branch. This

[2020-11-29 17:44] waltersajtos opened #317 "Include collaborators on project overview"
**Is your feature request related to a problem? Please describe.**
Because of the [redesign of the project overview page](https://github.com/DigitalExcellence/dex-frontend/issues/365), we need the collaborators for every project.

**Describe the solution you'd like**
The collaborators should be included on the GetAllProjects endpoint

[2020-11-30 10:49] #317 closed

[2020-11-30 12:03] Brend-Smits opened #320 "Wiki - Getting Started - Linux & MacOS"
**Is your feature request related to a problem? Please describe.**
Lack of documentation for getting started on Linux and MacOS

**Describe the solution you'd like**
To improve transferability, I would like to have documentation on how to get started with DeX for Linux and MacOS users.

**Additional context**
This documentation should be added to the wiki for both the frontend and the backend

[2020-11-30 12:09] Brend-Smits opened #321 "Wiki - Processes explained"
**Is your feature request related to a problem? Please describe.**
There is no documentation on what processes we use to run DeX, how we guard code quality etc.

**Describe the solution you'd like**
Create a wiki article that briefly explains the way we work at DeX and what processes are involved.
Processes that should be discussed are:
- Code Reviews
- Pull Requests
- Design Validation and Protot

[2020-11-30 12:18] Brend-Smits opened #323 "Wiki + Update SAD (Software Architecture Document)"
**Is your feature request related to a problem? Please describe.**
The SAD might be outdated, it was created last semester but a lot has changed since then.

**Describe the solution you'd like**
Update the Software Architecture Document and upload it on the drive.

**Additional context**
Please don't rewrite everything, add sections and update parts that are outdated ;)
When finished, please creat

[2020-11-30 12:20] Brend-Smits opened #324 "Wiki - Infrastructure Documentation"
**Is your feature request related to a problem? Please describe.**
There is documentation of the infrastructure somewhere, but it's not linked in the Wiki.

**Describe the solution you'd like**
Find the infrastructure document, update it, or create it. Then link it in a new or already created Wiki sidebar submission in the backend.
Infrastructure documentation should explain briefly how the curren

[2020-11-30 12:24] Brend-Smits opened #325 "Wiki - What tools do we use?"
**Is your feature request related to a problem? Please describe.**
There is no documentation/overview on what tools DeX uses and for what purpose they are used.

**Describe the solution you'd like**
A single wiki page to explain what tool is used and for what purpose. Tools that we use that should be described:
- Postman
- Sentry
- 1Password
- SonarQube
- Cloudflare
I might be missing some.

**Add

[2020-12-01 08:17] MeesvanStraten opened #326 "Feature: Implement plugin Wizard"
Since there is a proof of concept and research is finished we can start the implementation of the plugin Wizard.
Use the input from: https://github.com/DigitalExcellence/dex-backend/issues/239

Implement the Wizard so that new plugins are easily intergrated without much work on the back-end.

[2020-12-01 12:44] Yuqera commented on #243
Here is my first version, please review @Brend-Smits https://drive.google.com/file/d/19ATWmW2DVku8arUh8K6d--ASP9FijZ2W/view?usp=sharing

[2020-12-01 14:55] #312 closed

[2020-12-02 08:58] #302 closed

[2020-12-02 11:58] #256 closed

[2020-12-02 12:05] niraymak opened #328 "Postman cleanup / equalize naming conventions for variables"
**Describe the bug**
Currently not all added entries during Postman integration tests are deleted on cleanup.
They are also only succeeding only iteration.
To get a better structure we should start using a guide which makes sure are tests are written the same way.

In my opinion in the cleanup folder at the end all leftovers should be deleted with administrator credentials. In my opinion variables

[2020-12-02 12:06] Ruby77 commented on #328
Also, verify the naming conventions. I've seen multiple different naming conventions appear in the tests.

[2020-12-02 13:37] #229 closed

[2020-12-03 08:24] waltersajtos opened #329 "Return project likes on the getProject endpoints"
**Is your feature request related to a problem? Please describe.**
There is no way to get the amount of likes a project has, and check if a user has liked a project.

**Describe the solution you'd like**
I think it would be good if we include both of these in the projectResultResource for the getAllProjects and getProject endpoints.

This issue is related to this closed issue: #229

[2020-12-03 09:41] mmerel commented on #323
I would like to be informed of the result. I need this to talk to other colleagues on how Dex can become more prominent in FHICT Fontys.

[2020-12-03 10:59] Brend-Smits opened #330 "Improve usability of the Wiki, allow adding/updating/deleting via Git"
**Is your feature request related to a problem? Please describe.**
It's currently quite difficult for outside collaborators to contribute to the wiki. There is no easily accessible wiki that can be cloned / pr'ed.

**Describe the solution you'd like**
Review this blog: https://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html
Perhaps this can be a solution to our proble

[2020-12-03 14:34] Brend-Smits opened #331 "Performance issues retrieving projects"
**Describe the bug**
Go to https://staging.dex.software and go to project overview. Experience the slow response time

**Expected behavior**
Good response time when retrieving projects from the API

[2020-12-03 20:49] waltersajtos opened #332 "Project icons still get deleted even if you don't edit them"
**Describe the bug**
When you update a project but leave the project icon as it is, the icon will still get deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project detail page of a project you own
2. Click edit
3. Leave the image as it is
4. Click "edit project"
5. See the error

**Expected behavior**
When you don't touch the project icon the current icon should not be deleted

[2020-12-04 08:34] waltersajtos commented on #149
I tried checking the similarity of a project with all the projects in the database, this added 100ms per 10 projects so checking the projects on the create-request is not a good idea with the current database.

Maybe if we get the elastic search database this will be possible.

[2020-12-07 08:59] Maxvanhattum opened #337 "Improvements on the Notification System"
**Is your feature request related to a problem? Please describe.**
There are a few things that can be changed to make the notification system more SOLID. These changes will make expanding the system with different methods of sending notifications more easy.

**Describe the solution you'd like**

- In the _MessageBrokerPublisher_ class library introduce a config with appsettings.json (see _Notifica

[2020-12-07 09:10] Maxvanhattum opened #338 "Testing the NotificationSystem"
**Is your feature request related to a problem? Please describe.**
The NotificationSystem is as of yet not tested automatically. The system should be unit tests with Sendgrid and RabbitMQ mocked. Integration tests should also be set up to test the feature more completely.

**Describe the solution you'd like**
First a test rapport should be made, following the set up of the existing test plan: http

[2020-12-07 09:24] Brend-Smits opened #339 "Refactor Friday - Make sure documentation guidelines are followed"
**Is your feature request related to a problem? Please describe.**
In the codebase, we have comments, sometimes they follow our documentation standards on other times they do not. This is also a problem for the swagger return types in the controllers.

**Describe the solution you'd like**
Following our guidelines, making all documentation follow the guidelines.

[2020-12-07 09:25] #331 closed

[2020-12-07 09:47] Brend-Smits opened #340 "Searching for a project does not include collaborators"
**Describe the bug**
https://api.staging.dex.software/api/search/internal/dotnet?query=dotnet&amountOnPage=12&sortBy=updated&sortDirection=desc
Will give the following result:
```{"results":[{"id":16,"name":"awesome-dotnet","shortDescription":"A collection of awesome .NET libraries, tools, frameworks and software","collaborators":[],"created":"2020-11-20T10:32:35.6602723","updated":"2020-11-20T10:

[2020-12-07 09:49] liekevdvoort commented on #340
I think the creator of the project also is included this would be nice to also be included in this issue

[2020-12-07 09:50] Brend-Smits commented on #340
````"user":{"id":2063,"name":"Brend Smits","email":"````

I think it is included, or do you mean something else?

[2020-12-07 09:51] #329 closed

[2020-12-07 10:28] Brend-Smits commented on #149
Blocking this until Elastic Search is implemented, thanks @waltersajtos

[2020-12-07 10:30] Brend-Smits commented on #320
Linux was added by @aintabb, thanks a ton for that!
I will look into getting MacOS sorted.

[2020-12-07 10:31] Brend-Smits commented on #314
What's the status on this issue @niraymak and @Maxvanhattum? Is this something that is planned to be finished this sprint or can we move it onto sprint 8?

[2020-12-07 10:33] Brend-Smits commented on #239
Is this issue considered done? Or can I move it to Sprint 8?

[2020-12-07 10:38] Brend-Smits commented on #310
I think we can move onto implementation with this, correct @Yuqera ?

[2020-12-07 10:38] MeesvanStraten commented on #239
Done

[2020-12-07 10:38] #239 closed

[2020-12-07 10:39] Brend-Smits commented on #249
This can be considered done, do you agree @Yuqera ?
If so, can you make sure that there are issues in both the backend and frontend describing what is needed in terms of development?

[2020-12-07 10:40] Brend-Smits commented on #250
@elmiratjee let's wrap this up upcoming Tuesday or Friday (depending on when you're next on location). Can you schedule a meeting please?

[2020-12-07 10:41] Brend-Smits commented on #275
When do you expect this to be finished @niraymak ?

[2020-12-07 10:41] Brend-Smits commented on #244
Closing this for now as it's not in scope to update it for now.

[2020-12-07 10:41] #244 closed

[2020-12-07 10:43] Brend-Smits commented on #277
When do you except to finish this issue @niraymak ?

[2020-12-07 10:45] Brend-Smits commented on #46
I was unable to get in touch with Delta students to take on this implementation. Once they feel like this implementation adds value to the Delta website, we can consider opening this again.
I do however believe that #303 can provide a solution for this.

[2020-12-07 10:45] #46 closed

[2020-12-07 15:42] elmiratjee commented on #250
@Brend-Smits  Are you also on Wednesday on location? Otherwise, it would be Friday :)

[2020-12-08 09:59] niraymak commented on #277
Still need to work on the documentation. Conclusion is to start using collaborative filtering using project likes and recommend on base of that.

[2020-12-08 10:01] niraymak commented on #314
I guess we could say this is finished.
Proof of concept documentation can be found here:
https://docs.google.com/document/d/12gAD6Cwka5DC9_C8bWuTFBu-Nq_r-dP5bM23Wi7iXBc/edit?usp=sharing

[2020-12-08 10:01] #314 closed

[2020-12-08 10:02] niraymak commented on #239
Research documentation:

https://docs.google.com/document/d/1P6SJc6jy4Xi4XOfpW0R7o9nMidDFWA5z5aXkzCt1g1c/edit?usp=sharing

[2020-12-08 10:04] niraymak commented on #275
I still want to add documentation to this document about how we connect our database to ElasticSearch database but will do that in a seperate document. So I will close this one.

[2020-12-08 10:04] #275 closed

[2020-12-08 11:23] #332 closed

[2020-12-09 08:33] Yuqera commented on #310
@Brend-Smits this can indeed be moved onto implementation.

[2020-12-09 08:42] Maxvanhattum opened #341 "ProjectLike Infinite Project References"
**Describe the bug**
In the Models _Project_ class, a list of _ProjectLike_ is present. However in _ProjectLike_ there is again a reference to the aforementioned _Project_, essentially creating an infinite chain. Moreover in _ProjectLike_ there is redundant information in the properties, a 'CreatorOfProject' _User_ property is present, while this is already in the parent _Project_ entity.
Also the

[2020-12-09 08:55] Yuqera commented on #341
I would like to add that this is also the case with the User class. When the user likes his own project the ProjectLike class will reference the CreatorOfProject which contains a list of ProjectLikes referencing back to the ProjectLike with the user.

[2020-12-09 09:18] Yuqera commented on #341
I will be refactoring the ProjectLike class to:
`class ProjectLike {
  public int Id { get; set; }
  public int ProjectId { get; set; }
  public int UserThatLikedId { get; set; }
  public DateTime Date { get; set; }
}` so there won't be any references.

[2020-12-09 11:33] Maxvanhattum commented on #337
We've (@niraymak) already done this partly in the branch /feature/62-recommendationsystem. We have some notions about how to best approach this and need to discuss this with @Brend-Smits. Therefore this issue will be blocked until further notice.

[2020-12-09 12:05] niraymak commented on #62
For the recommendation system several researches were setup:

1. What methods are used for recommendation systems: https://github.com/DigitalExcellence/dex-backend/issues/274
2. What tools can be used for recommendation systems: https://github.com/DigitalExcellence/dex-backend/issues/275
3. What research is already done: https://github.com/DigitalExcellence/dex-backend/issues/276
4. What data shou

[2020-12-09 13:35] #316 closed

[2020-12-11 09:55] #340 closed

[2020-12-11 11:50] niraymak commented on #326
Documentation can be found here: https://docs.google.com/document/d/1P6SJc6jy4Xi4XOfpW0R7o9nMidDFWA5z5aXkzCt1g1c/edit?usp=sharing

Ruben will pick-up the implementation of the basis of this project. When the basis is there, we can start adding different sources.
We are aiming to get the basis ready before the holidays.

[2020-12-11 13:18] niraymak commented on #277
Research can be found in the link below:

https://docs.google.com/document/d/1B1u_j5jQXmv3GVPG-HrXYJLR8rVKbtAhEkLjbac6KSs/edit?usp=sharing

[2020-12-11 13:18] #277 closed

[2020-12-11 13:28] Ruby77 commented on #328
I will continue working on this, however, I have another big issue that more priority so I have less time for this issue. So for the people who would like to work on this issue, you can start working on it😄. Send me a message so we can discuss some things I already created.

[2020-12-11 13:45] niraymak commented on #61
Currently we are working on a implementation where we use collaborative filtering. Similar users are found by comparing project likes. It is recommended to find out if the user is not interested in the project so it can be excluded from recommendations.
Also for the cases when collaborative filtering does not work it is recommended to either look into content based filtering using tags / categorie

[2020-12-14 11:58] niraymak commented on #325
https://github.com/DigitalExcellence/dex-backend/wiki/What-tools-do-we-use%3F

[2020-12-14 12:13] niraymak commented on #325
Wiki added for SonarQube, Postman and Sentry. Not sure why we use 1Password and Cloudflare. Waiting for feedback on that.

[2020-12-14 14:08] niraymak commented on #321
Wiki can be found below and is still incomplete.

https://github.com/DigitalExcellence/dex-backend/wiki/Process-explaination

[2020-12-15 09:15] Brend-Smits commented on #323
Hey @Ruby77, how is this going?

[2020-12-15 09:16] #230 closed

[2020-12-15 09:16] #255 closed

[2020-12-15 09:40] #62 closed

[2020-12-16 13:02] Ruby77 commented on #323
Via this link, you can find our [Software architecture document wiki page](https://github.com/DigitalExcellence/dex-backend/wiki/Software-Architecture-Document). On this page you can learn the basics of our underlying architecture. For more information, the wiki page links our [created software architecture document on Google Drive](https://docs.google.com/document/d/1VH_h2MH5A7Smu_3S8B8KjOkWKSW0C

[2020-12-16 13:02] #323 closed

[2021-01-05 09:39] elmiratjee commented on #324
Here the end result after the feedback:
https://github.com/DigitalExcellence/dex-backend/wiki/Explanation

[2021-01-05 09:39] #324 closed

[2021-01-06 12:15] #328 closed

[2021-01-06 15:17] niraymak opened #349 "Docker launch failure"
**Describe the bug**
After cloning Development branch and running docker-compose up the following error comes up.

Docker shows an NullReferenceError on line 275 Startup.cs in the API. It tries to use the FrontendURL there but it seems to be null.

Max and I debugged it and it and we found out it is in Development mode so application.Development.json should load in. However FrontendUrl is empty.

[2021-01-06 22:20] Yuqera commented on #341
Okay, I've finnaly come to the conclusion that this isn't a bug that needs to be fixed.
The objects referencing itself is part of the database design to create a Many to Many relationship. The other method would be to do something along the lines of this:
`class Object1
{
  public int Id { get; set; }
  public Object2 Object2 { get; set; }
}

class Object2
{
  public int Id { get; set; }
  public

[2021-01-07 13:36] niraymak commented on #325
Wiki finalized. 1Password and Cloudflare may be a bit short. Please review and provide me with feedback if necesarry.

[2021-01-08 09:28] #250 closed

[2021-01-08 09:30] Brend-Smits commented on #250
Finished and send to correct people https://docs.google.com/document/d/1-UasWhxTVADF0VPBJO7W_-RvKlSLD-M4t-jaqxYoxi8/edit?usp=sharing

[2021-01-08 11:29] niraymak commented on #349
Looks like API tries to use appsettings.json from the NotificationSystem project.

[2021-01-09 14:22] niraymak commented on #341
Reopened this issue because naming is not right. CreatorOfProject attribute is actually the one who likes the project.

[2021-01-09 15:03] Maxvanhattum commented on #341
Ah yes my bad, seems like entity framework uses bidirectional relationships as its standard when using this kind of code first approach. Good catch.

[2021-01-11 09:26] #341 closed

[2021-01-11 11:12] #338 closed

[2021-01-12 10:53] Ruby77 opened #352 "Data officer can change institution in unwanted moments"
**Describe the bug**
The data officer can change data from the users that are linked to the same institution. this behavior is desirable. However, the data officer can change the institution id users are linked to, this brings unwanted behavior we do not want.

For example, a certain data officer with institution id = 1, would like to change a user from the same institution and changes the institu

[2021-01-12 13:02] niraymak commented on #288
Issue is merged together with #287 because they rely on eachother.

[2021-01-12 13:02] #288 closed

[2021-01-12 13:02] niraymak commented on #287
Issue #288 is merged into this issue because these issues rely on eachother.

[2021-01-13 10:26] Brend-Smits commented on #184
"I've discussed with @Yuqera that we are going for a slightly different approach:

Only execute the action on code push to develop or master
Create a webpage that shows the results in a user-friendly manner instead of giving them assets (better to show stakeholders as well)
For reference, you can check how we do it in lighthouse checks on the frontend"
This was commented in the PR. When this has b

[2021-01-13 18:39] Ruby77 commented on #326
After a meeting with @Brend-Smits and @DaveyHurkmans we decided to store page objects in the data source. This way the front-end is able to figure out what order the pages should get made visible (this can differ for each data source). So, the data source has a many to many relation with the wizard page objects.

[2021-01-14 17:36] #349 closed

[2021-01-15 09:23] matir8 commented on #273
https://drive.google.com/drive/u/0/folders/1LvKiy68B6p-9hX7z6_ZjZg8K9nqtDtwr

[2021-01-15 09:32] niraymak commented on #306
We are currently working on an implementation where we use RabbitMQ to update the ElasticSearch database. Each time a create update or delete is executed we queue a query for ElasticSearch.

[2021-01-15 11:00] Ruby77 opened #355 "[NEEDS MORE INFORMATION] Link users to an institution"
**Is your feature request related to a problem? Please describe.**
Currently, user and data officers are able to remove a user from an institution, but there is no way to link the user to an institution.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Production URL**
Can this issue be linked to a relevant production URL? If so, please post the

[2021-01-15 13:18] Maxvanhattum opened #356 "Class library MessageBrokerPublisher retrieves connection parameters itself"
**Describe the bug**
Class library MessageBrokerPublisher retrieves connection parameters itself, while it should be passed in by the services that imports this library.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MessageBrokerPublisher project
2. Open folder Services
3. Open RabbitMQConnectionFactory.cs
4. Look at lines 27/28/29 and lines 38/39/40

**Expected behavior**
The Rabbit

[2021-01-18 10:01] Brend-Smits commented on #325
Postman:
Please add a link to more detailed information about postman testing (the guide you wrote).

The rest looks great, nice work. Once you added the link, you can close this issue.

[2021-01-18 11:00] #352 closed

[2021-01-18 13:37] Brend-Smits commented on #243
Thanks, @Yuqera, I will leave it to @rubenb994 and @niraymak to decide whether or not we should look into the implementation for audit logging.
I personally think it's a low priority issue, however, it could be good to know when destructive actions are done and by who they are done. Examples are:
- Users deletes account
- Project is deleted

The research looks okay, it would have been nice if a bi

[2021-01-19 09:22] Brend-Smits commented on #273
Looks great, thanks for the research ^^

[2021-01-19 09:22] #273 closed

[2021-01-19 09:23] Brend-Smits commented on #320
This is planned for next week.

[2021-01-19 10:06] niraymak commented on #325
Done :)

[2021-01-19 10:06] #325 closed

[2021-01-19 10:07] niraymak commented on #306
Implementation is working. We did some manual testing and everything seems to be working.

[2021-01-19 14:15] niraymak commented on #58
Please read the conclusion of this research before you start researching this issue:

https://docs.google.com/document/d/1B1u_j5jQXmv3GVPG-HrXYJLR8rVKbtAhEkLjbac6KSs/edit?usp=sharing

[2021-01-22 09:39] #310 closed

[2021-01-22 10:29] niraymak opened #358 "Implement content-based filtering"
**Is your feature request related to a problem? Please describe.**
Currently we are working on an implementation where recommendation can be found. This works on basis of collaborative filtering. The advise was to start with content-based filtering, but the data was not available yet. There is a issue opened for making data available for content based filtering.

More information about collaborati

[2021-01-22 10:32] niraymak commented on #306
Issue is closed as this is combined with issue #63

[2021-01-22 10:32] #306 closed

[2021-01-22 10:38] niraymak commented on #280
We chose ElasticSearch to help us make recommendations. ElasticSearch' NoSQL database is being synchronized with our relational database on each transaction to keep both databases up to date.

[2021-01-22 10:38] #280 closed

[2021-01-22 10:39] niraymak commented on #279
The chosen implementation does not return any GDPR related data.

[2021-01-22 10:39] #279 closed

[2021-01-22 14:46] #356 closed

[2021-01-25 12:15] niraymak opened #360 "not interested in a project"
**Is your feature request related to a problem? Please describe.**
When issue #63 is implemented the system can show recommendations that are irrelevant for the user. If the user is "not interested" in a project the system still could show the project repeatedly. If we can track if a user is "not interested" in a certain project we can remove it from his project recommendations.

**Describe the so

[2021-01-25 12:35] Yuqera commented on #360
Is this issue related to being able to 'not interest' 1 project forever, like some kind of blacklist? Or something like where the user selects a few projects they're not interested in and that the systeem sees which tags align and make those kinds of tags be recommended less?

[2021-01-25 12:57] niraymak opened #361 "Refactor Search functionality"
**Is your feature request related to a problem? Please describe.**
When issue #63 is implemented we have all our projects stored in ElasticSearch. We can use ElasticSearch to as a tool to search for projects.
Benefits of using ElasticSearch:
- ElasticSearch is faster because it uses a NoSQL.
- ElasticSearch is able to find synonyms.

**Describe the solution you'd like**
Use ElasticSearch instead o

[2021-01-26 09:46] niraymak commented on #360
The recommendation system will recommend projects. So somewhere on Dex recommended projects will show-up. However the user may already have seen certain projects in these recommendations and he/she might not be interested in certain projects. By being "not interested" in a project the recommendation system will not be showing up the project to the user anymore.

So being "not interested" in a proj

[2021-01-27 11:36] #268 closed

[2021-01-27 11:42] #249 closed

[2021-01-27 11:43] Brend-Smits commented on #337
@Maxvanhattum Status?

[2021-01-27 11:44] Brend-Smits commented on #224
I recommend updating this when you update #190

[2021-01-27 11:53] Brend-Smits opened #362 "Add Tags & Categories"
**Is your feature request related to a problem? Please describe.**
There is no way to assign tags or categories to new or existing projects.

**Describe the solution you'd like**
CRUD for Tags/Categories. Ability to assign those tags/categories to projects. Ability to retrieve all available tags/categories so the frontend can show them in a checkbox style form.

**Additional context**
@niraymak @R

[2021-01-27 12:11] Brend-Smits opened #363 "Link collaborators with actual (dex)users if possible"
**Is your feature request related to a problem? Please describe.**
Collaborators are just names at this moment and are not interactive at all. Users want be able to click on these names and be directed to their dex portfolio or profile page.

**Describe the solution you'd like**
When creating a project, it should be possible to link it to an existing dex user. If the collaborator has no dex accoun

[2021-01-28 10:36] Maxvanhattum commented on #337
Should be closed, most of these are obsolete or done. Only one small thing still needs to be done, I'll make a new issue of it.

[2021-01-28 10:36] #337 closed

[2021-01-28 11:12] niraymak opened #364 "XUnit intergration foundation"
**Is your feature request related to a problem? Please describe.**
Currently we use Postman as a tool to do integration tests. Because the file https://github.com/DigitalExcellence/dex-backend/blob/develop/Postman/dex.postman_collection.json is one big .json file it is hard to merge and review.

We experienced many issues with merging during this semester. We would like to improve this proces some

[2021-01-29 12:48] niraymak opened #365 "Update graduation date endpoint"
**Is your feature request related to a problem? Please describe.**
With feature #311 we are able to convert FHICT accounts to Identity accounts. Automatically the user receives an email x amount of months before his (expected) graduation date. The expected graduation date is automatically set to +4 years after account creation.
It is not yet possible to update your expected graduation date. If you

[2021-01-31 10:57] Ruby77 opened #368 "Update the seed to check to update roles & users"
**Describe the bug**
Roles will get seeded automatically whenever there are no roles stored in the database. The same applies to the users, so the seed will only execute when there are no users stored in the database. If you add a new role or user to the seed, this will only execute when the database is empty, but this is not the case on the production environment. So in short: the added roles and

[2021-02-01 12:35] Brend-Smits opened #370 "[NEEDS MORE INFORMATION] Create a badge that repositories can link in their readme that they use DeX"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Production URL**
Can this issue be linked to a relevant production URL? If so, please post the full link here, don't use hyperlinks.
If you

[2021-02-04 13:12] Ruby77 opened #371 "[NEEDS MORE INFORMATION] No documentation warning"
**Describe the bug**
Whenever you don't add documentation for a method, you will get a warning in the API project. However, this error won't appear in the job scheduler. Make sure these warnings are configured in all projects.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descrip

[2021-02-08 11:28] RubenFricke opened #372 "Wizard testing"
**Is your feature request related to a problem? Please describe.**
The wizard is not tested yet. The wizard should be tested by creating unit tests with the data sources mocked. Integration tests should also be set up to test the feature more completely.

**Describe the solution you'd like**
First a test rapport should be made, following the set up of the existing test plan:
docs.google.com/docume

[2021-02-20 12:23] #287 closed

[2021-02-22 09:18] #326 closed

[2021-02-23 09:36] #365 closed

[2021-02-23 14:17] TimSnoek123 opened #376 "Bug: Inefficient use of entity framework in GetAllWithUsersAndCollaboratorsAsync() (in the ProjectRepository)"
**Describe the bug**
The function GetAllWithUsersAndCollaboratorsAsync() in the ProjectRepository implements a really inefficient way of getting data. This should be improved by using .include(). With 5000 projects using .include() takes around 300 ms and the current way of getting the data takes around 1900 ms. (and even with less data it is around 70% faster)

**Screenshots**
![image](https://us

[2021-02-23 16:23] Brend-Smits commented on #376
This is very strange. The results I got when testing this were the other way around. Are you sure the data set that you tested with includes likes and collaborators?
See: https://github.com/DigitalExcellence/dex-backend/pull/335

[2021-02-23 16:26] TimSnoek123 commented on #376
The data did have collaborators but not likes, I will try testing it again tomorrow again I guess with more relational data.

[2021-02-23 16:29] Brend-Smits commented on #376
Still, the results should be the other way around... unless something has changed in terms of packages that got updated to fix this issue.
How many collaborators were included per project? (Average)

[2021-02-23 16:46] TimSnoek123 commented on #376
I just created 5000 projects each with: 7 collaborators and one like.

The include took around: 7 seconds.
The old version took around: 23 seconds.

[2021-02-23 16:48] Brend-Smits commented on #376
Well, that sounds good then! I'm glad to hear the issue is resolved. Nice😀

[2021-02-23 16:49] TimSnoek123 commented on #376
Yes! Maybe Microsoft updated EF or something ¯\_(ツ)_/¯

[2021-02-23 17:44] RubenFricke opened #377 "Add Fontys' Gitlab data source to the wizard"
**Is your feature request related to a problem? Please describe.**
Currently the implementation of the wizard supports 3 data sources (Github, Gitlab and JsFiddle). Gitlab only supports main Gitlab and not the Fontys Gitlab variant. This data source should be added.

Update the wizard so that Fontys' Gitlab gets supported as well. When creating support for this, it's important to keep programming